# Data Exploration for Missing Data

In [46]:
import etl, pipeline
import hw3

In [47]:
df = etl.read_csvfile("data/projects_2012_2013.csv")
df = etl.replace_dates_with_datetime(df, ['date_posted', 'datefullyfunded'])
y_col = "notfullyfundedin60days"
df = hw3.create_label(df, y_col)
df.columns

Index(['projectid', 'teacher_acctid', 'schoolid', 'school_ncesid',
       'school_latitude', 'school_longitude', 'school_city', 'school_state',
       'school_metro', 'school_district', 'school_county', 'school_charter',
       'school_magnet', 'teacher_prefix', 'primary_focus_subject',
       'primary_focus_area', 'secondary_focus_subject', 'secondary_focus_area',
       'resource_type', 'poverty_level', 'grade_level',
       'total_price_including_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'date_posted', 'datefullyfunded',
       '60daysafterpost', 'notfullyfundedin60days'],
      dtype='object')

In [48]:
etl.check_missing(df)

                                     index  missing count
0                                projectid              0
1                           teacher_acctid              0
2                                 schoolid              0
3                            school_ncesid           9233
4                          school_latitude              0
5                         school_longitude              0
6                              school_city              0
7                             school_state              0
8                             school_metro          15224
9                          school_district            172
10                           school_county              0
11                          school_charter              0
12                           school_magnet              0
13                          teacher_prefix              0
14                   primary_focus_subject             15
15                      primary_focus_area             15
16                 secondary_focus_subject          40556
17                    secondary_focus_area          40556
18                           resource_type             17
19                           poverty_level              0
20                             grade_level              3
21  total_price_including_optional_support              0
22                        students_reached             59
23       eligible_double_your_impact_match              0
24                             date_posted              0
25                         datefullyfunded              0
26                         60daysafterpost              0
27                  notfullyfundedin60days              0

## School Metro

In [64]:
df.school_metro.unique()

array(['urban', 'suburban', 'rural', nan], dtype=object)

In [61]:
missing_metro = df[df['school_metro'].isnull()]
missing_metro

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded,60daysafterpost,notfullyfundedin60days
20,000faa31e276e9e649360949207fa00c,86403b5f04ed07201cd04184ff4c0ced,c86d87fee34b13377658337fa8bf2fc5,2.931440e+11,38.367966,-92.477882,Ft Leonard Wd,MO,NaN,Waynesville School Dist R6,...,Technology,high poverty,Grades 3-5,632.13,25.0,f,2012-12-18,2013-01-06,2013-02-16,0
21,0010040593d5e9699ee45834369ec817,1871e44279646e8d18fa74d29dcfc456,83b74057d63f2da28f3635efeffd61a1,1.707650e+11,40.456921,-88.137198,Paxton,IL,NaN,Paxton-buckley-loda Cusd 10,...,Supplies,moderate poverty,Grades 9-12,221.56,100.0,t,2013-09-04,2013-10-27,2013-11-03,0
22,00103b0614e31016e5c4cc7d405bbc51,9e4433fb2d3078bc4dcbe2860d05ebf5,b22babfd8fbdfa6b53e4747b74da02dd,4.835850e+11,33.183766,-96.494366,Princeton,TX,NaN,Princeton Ind School Dist,...,Supplies,highest poverty,Grades 3-5,1125.40,660.0,f,2013-12-10,2014-04-02,2014-02-08,1
38,001a0c0faaa17ae90f18a05ba01dd4fd,caeefdb8e667c31af8b79f08b4a3d26b,dde161252564ad07a75b072f0f90705f,1.200390e+11,25.835409,-80.215416,Miami,FL,NaN,Miami-dade Co Public Sch Dist,...,Supplies,highest poverty,Grades PreK-2,981.62,15.0,t,2013-10-04,2013-10-12,2013-12-03,0
47,001f780694807f8c9d7e1748491166f5,159a890d6a756620e3be7798b4a03019,44baa6dbc2f62d765f7313d55f1e9e23,4.702370e+11,36.225002,-86.285944,Lebanon,TN,NaN,Lebanon Special School Dist,...,Other,highest poverty,Grades PreK-2,595.34,45.0,f,2012-10-22,2012-11-14,2012-12-21,0
49,0021de21e1625371113d22f97c8c2acf,f2e88c4933ab9847d7981e57ba063ef9,c897163b8cc716a01596f8c93728dd5c,4.013560e+11,35.879993,-97.422396,Guthrie,OK,NaN,Guthrie School District I-01,...,Books,highest poverty,Grades PreK-2,912.14,70.0,f,2013-09-20,2013-12-06,2013-11-19,1
57,0024decf6a1c35c3ebf923f06ac4b580,464b9e5814a42b0d670a3ed05fca0cc0,8542596881b68ac6ad3e09da721a3114,9.029100e+10,41.412549,-73.272388,Sandy Hook,CT,NaN,Newtown Public Schools,...,Other,low poverty,Grades 9-12,1965.62,999.0,f,2013-05-25,2013-07-08,2013-07-24,0
60,00253700795d0d57143478a8f8f862f5,9b75ca8fe1c4dad8766fe1f23dc39074,3e5eb787a7bc67f55f9051bef226862c,NaN,36.789982,-119.754395,Fresno,CA,NaN,Fresno Unified School Dist,...,Supplies,highest poverty,Grades PreK-2,193.52,21.0,f,2013-12-26,2014-01-20,2014-02-24,0
62,0025dcd9473e448c7c52dc76dfd763da,f552e963391a51e6978e6f27630efed6,c8ae7da1477687cc290ce2002dd210b7,1.600300e+11,43.527905,-114.318382,Hailey,ID,NaN,Blaine Co School District 61,...,Technology,high poverty,Grades 6-8,427.51,500.0,f,2013-02-11,2013-04-01,2013-04-12,0
69,0029ee86c96328ba7c95f36056e1a3d9,232b0266b84e6b44e44163f5885f501b,7671ace117f24abcb024b1adee34d963,1.200810e+11,28.495637,-82.553562,Spring Hill,FL,NaN,Hernando Co School District,...,Other,highest poverty,Grades 3-5,409.55,75.0,f,2012-07-01,2012-07-13,2012-08-30,0
76,00304e8334b14616f7d87cb5c31258d8,a275756b50b2b63421bbb0501f2246a3,7ab7fdaef536c38a4258c841273fa0c8,2.001800e+10,61.426918,-149.427318,Chugiak,AK,NaN,Anchorage School District,...,Technology,moderate poverty,Grades 6-8,633.62,125.0,f,2013-10-12,2013-11-25,2013-12-11,0
79,0032cc05143e4814a8a44ff6fde1c177,2d06b0e3dfbc2e3d09914bfd5c551b69,345578a099773f78c6c8c9f4ba5df767,NaN,41.903506,-87.655826,Chicago Hts,IL,NaN,Illinois Dept of Education,...,Technology,low poverty,Grades PreK-2,928.20,13.0,f,2013-08-29,2013-12-02,2013-10-28,1
100,003ad75c9109cf719d9f7b6597fbb06e,a47c13d22132614755a8a87d87d384cd,347851b2350202f74dce8b921da590ca,NaN,33.921778,-118.308974,Los Angeles,CA,NaN,Los Angeles Unif Sch Dist,...,Technology,high poverty,Grades 6-8,278.00,200.0,t,2012-08-15,2012-08-27,2012-10-14,0
107,003d3562242b7e73640af426d28016bb,21a51609e77447b0a334778325950d2f,be3943d41825abc20f83abe7be758b65,6.091201e+10,36.199399,-120.100601,Huron,CA,NaN,Coalinga-Huron Joint Unif Sd,...,Supplies,highest poverty,Grades 6-8,424.65,27.0,t,2012-02-03,2012-02-20,2012-04-03,0
110,003e56d4a30a7a0bfeecfda4bf2e9415,27a825b3f0cc77315af7e86fed45215f,65dab3524ff180c1e776edfd7c188770,4.010350e+11,34.026295,-96.369933,Durant,OK,NaN,Durant School District I-72,...,Books,highest poverty,Grades 9-12,298.61,250.0,f,2013-10-17,2014-01-06,2013-12-16,1
119,004371c61d1884a6818888e27b0582b6,972d3d15470917d447541d4133ab5f05,02198665969d34156821ae37c554c474,4.703000e+11,35.536879,-84.353906,Madisonville,TN,NaN,Monroe Co School District,...,Trips,highest poverty,Grades 3-5,884.98,75.0,t,2013-01-23,2013-02-14,2013-03-24,0
140,0053398d9c169ef2fc6bd3fb87ccbb4d,c8b2650a29d5e386ae0c204b37ede371,bcfc70d290656f73185d2e07adc335bc,6.145500e+10,36.707048,-119.754444,Fresno,CA,NaN,Fresno Unified School Dist,...,Technology,highest poverty,Grades 3-5,297.96,150.0,f,2013-09-08,2013-09-19,2013-11-07,0
146,00550d976be1ee5973d3930486a59e4b,05e0cb78521d78bce468f19a0c63c933,c18fa36b76e30feac10d84ac76887342,3.619320e+11,41.450495,-74.398670,Middletown,NY,NaN,Middletown Enlarged City Sd,...,Technology,highest poverty,Grades 9-12,11278.67,125.0,f,2012-03-08,2012-07-06,2012-05-07,1
153,005aab5f171f975f9214a602a72b6177,44d775a585506898bb7a25d1b604b20f,26f3342d40b805ec8f1265e1367c3a29,3.612270e+11,43.054342,-74.360852,Gloversville,NY,NaN,Gloversville Enlarged Sch Dist,...,Supplies,highest poverty,Grades 6-8,234.53,100.0,f,2012-08-07,2012-09-18,2012-10-06,0
163,006221eb86e93898349404caa58ce7e1,d29989746465958dc6747987d81a3ed0,127c7fbe37d7ee1e12666fa271d24a22,NaN,39.663136,-104.860962,Aurora,CO,NaN,Douglas Co School Dist Re-1,...,Technology,low poverty,Grades PreK-2,1041.05,25.0,f,2012-09-12,2012-12-06,2012-11-11,1
177,006d3c665607373542fa556d790cd5af,bc954dd148fb36232f42cd6893b698fd,74b49064ca860176be4cb3b0db742209,2.201650e+11,30.312993,-89.946596,Lacombe,LA,NaN,St Tammany Parish Sch District,...,Technology,highest poverty,Grades PreK-2,797.96,300.0,f,2013-10-12,2013-10-24,2013-12-11,0
181,006de2d5ece19b6568c23feb790bdd41,c4a647b4ee3489e5369b83dc4f2b678c,3de5d0c64d19c03ebd506a4d0b770f96,4.044400e+10,33.417996,-112.278855,Tolleson,AZ,NaN,Littleton Elem School Dist 65,...,Books,highest poverty,Grades 6-8,449.12,100.0,f,2012-05-28,2012-09-06,2012-07-27,1
201,007883699a2db7749a40998f3adf7625,c6a070a081bf10bc810edac0c54193be,2e08fa0a86277495c8b7c38e93102e29,4.225830e+11,40.152853,-76.796980,Etters,PA,NaN,West Shore School District,...,Supplies,moderate poverty,Grades PreK-2,391.74,27.0,f,2013-08-01,2013-10-19,2013-09-30,1
206,007a355832f5769b5a60bd0d334cbeca,a38444a44507ee2bf067d27133e9737f,d9db77383912775e90fcac90c4e339ba,4.702220e+11,35.886951,-84.155243,Knoxville,TN,NaN,Knox Co School District,...,Technology,moderate poverty,Grades 3-5,497.16,53.0,f,2012-10-12,2012-10-27,2012-12-11,0
222,00834469eda27ad45e713c11da2cc7e2,b3d493b26dfe5e1a6e9700242bec9a35,5e57db207df331f73a06a6a08fa0126a,2.803210e+11,34.434869,-89.927385,Sardis,MS,NaN,North Panola School District,...,Technology,highest poverty,Grades 3-5,406.78,90.0,f,2013-07-20,2013-08-13,2013-09-18,0
228,0086356f38bac2a5b51843b68d01de67,59f4048695d07a3d0f6df11564adbbff,07489140998bdb6977b988ec94812614,2.801620e+11,33.373426,-91.044447,Greenville,MS,NaN,Greenville Public Sch Dist,...,Supplies,highest poverty,Grades 6-8,321.55,135.0,f,2013-09-26,2013-10-26,2013-11-25,0
243,008d64d7c2a6c4fc2b1e37d90663ec77,eb2d34d9e26a71a72f6c00252f3633e3,8a7e6f59d2e78acd49556ba105fec211,4.063600e+10,32.718935,-111.498750,Picacho,AZ,NaN,Picacho Elementary Sch Dist 33,...,Technology,highest poverty,Grades 6-8,394.58,210.0,t,2013-02-16,2013-03-25,2013-04-17,0
248,008ffe4df1cffd897f9f95fbf35e8280,70d4d81e2199a5b5d86e978ac0f8047c,f16fe540be84839d7d9264b807b93841,2.804320e+11,34.231684,-88.763320,Tupelo,MS,NaN,Tupelo Public School District,...,Technology,high poverty,Grades 9-12,672.25,150.0,f,2012-08-21,2012-11-30,2012-10-20,1
249,00919bd0efd6ca1730ca484f617c7636,2c75d1bcad1041fb0c3567a89e6344ad,2b688324a41610abc281b2e9b7c2ed3a,1.731710e+11,39.598827,-90.809634,Pittsfield,IL,NaN,Pikeland Cmty Sch Dist 10,...,Other,high poverty,Grades PreK-2,595.34,25.0,f,2013-05-05,2013-07-22,2013-07-04,1
260,00982d4f1de4bfbcbbd20d0fbda0d74c,57c0b75953403afa90eb1a55ebbe516b,3194f69a86c534dfac799aad1fa1755c,NaN,30.382962,-84.226190,Tallahassee,FL,NaN,Florida Dept of Education,...,Supplies,moderate poverty,Grades PreK-2,194.01,90.0,f,2012-01-09,2012-03-02,2012-03-09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124749,ff899c31f23a4a2d92b881af3a9ab5df,95e08723ee6827d3a42a9ae85be06845,25330a9b8a07b22d1efb4b792c2cc8f0,3.501080e+11,32.042073,-106.377475,Chaparral,NM,NaN,Gadsden Ind School District,...,Technology,highest poverty,Grades PreK-2,527.05,15.0,f,2013-02-14,2013-05-24,2013-04-15,1
124773,ff9b182e794b2156cd41c0b7b801eb68,0dec68fa17281a9652a654b45e8e36fb,fca4ffebb801e82b2f0b1c6e2365e110,3.703930e+11,34.804342,-78.983085,Saint Pauls,NC,NaN,Robeson Co Public School Dist,...,Supplies,highest poverty,Grades PreK-2,361.85,25.0,t,2013-07-22,2013-10-21,2013-09-20,1
124777,ff9cd1d00bbb356771348c12837908c6,113a1a77c2dc9c5ca175ddcebfcd5a92,cba9c78ff7a9c6115d6ad6fefa0c0654,6.280500e+10,37.836134,-122.211417,Oakland,CA,NaN,Oakland Unified School Dist,...,Technology,low poverty,Grades 3-5,393.48,32.0,f,2013-05-17,2013-06-24,2013-07-16,0
124779,ff9e3574d28015bd189ba4165abd2e9b,e7b2891ee2bead45eac99a22e605d4fa,638507c074ae0ad7a6023aabc589e589,3.412810e+11,39.975066,-74.585001,Browns Mills,NJ,NaN,Pemberton Township Sch Dist,...,Books,high poverty,Grades PreK-2,445.65,60.0,f,2013-02-14,2013-03-14,2013-04-15,0
124780,ff9eb2dd4d9345caf2e107d69c24cfc6,48412d4e7f4f491152965ca6045e61f7,2269ecfa27177c1a4db5ee0d0a003c59,2.201650e+11,30.478190,-90.028501,Abita Springs,LA,NaN,St Tammany Parish Sch District,...,Supplies,high poverty,Grades PreK-2,558.91,20.0,f,2012-10-28,2012-12-21,2012-12-27,0
124782,ff9f2aafff939de169148c811ed4f2a3,34d9420581c6c1d8e075a337289d6ad2,9cb11fb216a2a5e0fd72996cb48ff5e2,2.803480e+11,30.384174,-88.616653,Gautier,MS,NaN,Pascagoula School District,...,Books,highest poverty,Grades 3-5,937.91,260.0,t,2013-09-30,2013-11-05,2013-11-29,0
124783,ff9f3c6267deffd31c5370119aff0e7f,6ed529e11949c933d0f763e60b98a938,efdb5df0a339feee6f3811a5d4cf98c6,4.017100e+10,32.943996,-111.746269,Casa Grande,AZ,NaN,Casa Grande Elem Sch Dist 4,...,Technology,high poverty,Grades 6-8,2708.07,280.0,f,2013-03-26,2013-07-11,2013-05-25,1
124789,ffa18cfeaf9c1758e83e0b9738595fb8,20a568d8e03823cbd4752cd6a3e572b4,cedd4301a701c3c633273076335e6a9f,1.200870e+11,28.054680,-82.404865,Tampa,FL,NaN,Hillsborough Co Pub Sch Dist,...,Technology,highest poverty,Grades 3-5,203.86,44.0,t,2013-08-10,2013-10-05,2013-10-09,0
124799,ffa833d12d7170acd7fa5b91ad978470,42c69ad891c3db6cca748ec549f666f3,5a4a8d935ddbb9b0af4559221caacb52,4.842090e+11,33.168714,-101.804810,Tahoka,TX,NaN,Tahoka Ind School District,...,Other,highest poverty,Grades PreK-2,320.45,60.0,f,2012-07-21,2012-11-16,2012-09-19,1
124812,ffae8b6825bb67ccf6f9abafc3806c69,9300108df5b575508759a622ec919e48,dc7ea034b70c5e77182a207cd05861fd,4.205010e+11,40.206780,-77.203386,Carlisle,PA,NaN,Carlisle Area School District,...,Books,high poverty,Grades 3-5,220.36,21.0,f,2013-04-08,2013-04-14,2013-06-07,0
124813,ffaf03e58c748fb97acf111ceda33f9b,9561136eec2882060029caff7e765812,fc8b0f221ee937a69b5480cf5dc57b39,4.010290e+11,34.508771,-97.962163,Duncan,OK,NaN,Duncan School District 1,...,Other,highest poverty,Grades 3-5,925.47,30.0,f,2012-06-12,2012-08-20,2012-08-11,1
124815,ffb0d28888bb90c13dfae2268fcbd179,891d74cc2f925b15969565617d1daf64,0da859fa316e42400e4929bcd204556e,NaN,41.884878,-87.766651,Chicago,IL,NaN,Chicago Public School Dist 299,...,Supplies,low poverty,Grades PreK-2,611.38,34.0,f,2013-12-12,2014-03-07,2014-02-10,1
124820,ffb29c0300e8c7efa648d964a3c61bb1,d343156e3c1e32655e0db94ccad6dd8c,c527d219cc4bd3e20c8be98fd8f25f26,4.030120e+11,36.682839,-97.300910,Tonkawa,OK,NaN,Tonkawa Public School District,...,Technology,highest poverty,Grades PreK-2,691.25,17.0,t,2013-11-04,2013-12-28,2014-01-03,0
124844,ffbf4e6c695bde44f4b47f8b400af3a4,51d0ea7e9b34e92a609f4dc1b84c8132,d94f65fe35149c6d287b2efd1372ba1c,1.921630e+11,42.679330,-91.902570,Oelwein,IA,NaN,Oelwein Cmty School District,...,Supplies,highest poverty,Grades 3-5,212.56,19.0,f,2012-03-26,2012-04-05,2012-05-25,0
124850,ffc054347bb2bd848c95742f71b40207,9473e49782aa6636c77fc26f094b9872,74b49064ca860176be4cb3b0db742209,2.201650e+11,30.312993,-89.946596,Lacombe,LA,NaN,St Tammany Parish Sch District,...,Books,highest poverty,Grades PreK-2,381.29,30.0,t,2013-09-14,2013-10-08,2013-11-13,0
124856,ffc945532b49dfa6d65f0bc11231513c,ea5da5cedd8f42d753582b686ee4f752,2973c4bb32adfb66fc913dc02dda2a8a,3.619320e+11,41.445278,-74.391296,Middletown,NY,NaN,Middletown Enlarged City Sd,...,Supplies,highest poverty,Grades 3-5,167.65,60.0,f,2012-10-23,2012-12-17,2012-12-22,0
124864,ffcc7709a0ee13ecaf3ce079c4968205,d880a95a3f6fc32bb2537a741d9a6bb3,5d12a31cd7d4a5754245d50fe26f5c87,2.201140e+11,31.778769,-93.096095,Natchitoches,LA,NaN,Natchitoches Parish Sch Dist,...,Supplies,highest poverty,Grades PreK-2,616.42,20.0,f,2012-01-01,2012-02-02,2012-03-01,0
124866,ffcced5c032e9b73070a3f9da67af0bd,eeddc7da4b2100ecff81f04054dd6a24,eefb4aa4b22e01a5cf5f4c77862f04bd,4.008490e+11,36.939816,-94.870559,Commerce,OK,NaN,Commerce School District I-18,...,Supplies,highest poverty,Grades 3-5,220.87,24.0,f,2012-10-13,2012-12-30,2012-12-12,1
124867,ffce5947787caf401ccfafbee3c0d6ba,d34b2be1597f4c562abca39b39e41a5f,e9304952fdd6f9bc071b0d22ca18fec3,1.802970e+11,41.440367,-85.260226,Kendallville,IN,NaN,East Noble School Distirct,...,Books,high poverty,Grades 6-8,574.14,125.0,f,2012-09-16,2012-11-02,2012-11-15,0
124875,ffd28b0ace940c02d08da49de2fe7137,51bccc3360d6e4aa0a95932e913a356b,5ba41737af919703decc6ba1efd7244a,3.700240e+11,35.691193,-79.820122,Asheboro,NC,NaN,Asheboro City School District,...,Other,highest poverty,Grades 9-12,325.02,150.0,f,2013-08-17,2013-09-17,2013-10-16,0
124884,ffd83f30ee7bfab03b34c25399f1fc1e,c9db685a8191877bf8c14dac65100044,faf8caddf44db3e14be43707a206d602,5.300960e+11,47.517044,-120.470896,Cashmere,WA,NaN,Cashmere School Dist 222,...,Technology,high poverty,Grades PreK-2,1020.71,20.0,f,2013-03-26,2013-06-10,2013-05-25,1
124891,ffdbc9e99f28d40a3229ac902042dfa0,78bc10094786c38472bac3d88c5263c5,a838b0e2af187ae459132c276000e36a,1.500030e+11,21.664768,-158.050151,Haleiwa,HI,NaN,Windward Oahu School District,...,Technology,moderate poverty,Grades PreK-2,1381.24,23.0,f,2012-12-18,2013-01-31,2013-02-16,0
124895,ffdca70948a193557c269e7cd7a03734,2ab74bbbfda3479e49081033a7efd390,a45e76dfe260abe0255b2e057dd8402f,4.900360e+11,40.662895,-111.947006,Taylorsville,UT,NaN,Granite School District,...,Technology,high poverty,Grades PreK-2,395.68,25.0,f,2013-10-07,2013-10-29,2013-12-06,0
124912,ffe36ccc092a7a9fa190a3e24acd3eea,849f778567907ab906ecf7f87936684c,b8d25c064010b8348d505def87466745,NaN,41.328920,-72.914345,New Haven,CT,NaN,New Haven City School District,...,Books,highest poverty,Grades 6-8,506.72,50.0,f,2012-08-12,2012-09-04,2012-10-11,0
124922,ffe555ac4234becbb73bca0d7bb15efb,e67aa880b205748d30fbd4a10e8887ea,744fa7df544ccd65d6a4d36fb746fa02,1.303210e+11,33.046893,-84.177075,Barnesville,GA,NaN,Lamar Co School District,...,Technology,highest poverty,Grades 9-12,937.05,150.0,f,2012-02-21,2012-06-09,2012-04-21,1
124924,ffe63e7fd68cf1a7f3ebecf212241f8d,438d0c5a413eddf2f22e0e4bb5d00861,d43a1e35417b56dda57ebc2d53912cd3,6.280500e+10,37.819170,-122.201381,Oakland,CA,NaN,Oakland Unified School Dist,...,Supplies,high poverty,Grades 6-8,243.66,160.0,f,2013-10-27,2013-12-12,2013-12-26,0
124933,ffea7bf500ad483703aedee165e61072,c5cdd43017f7066a1a6f6f36f45cca53,037060bf6681fe0941df818b3ae6c513,4.101120e+11,44.633715,-123.069352,Albany,OR,NaN,Greater Albany Pub Sch Dist 8j,...,Technology,highest poverty,Grades 3-5,248.44,120.0,f,2013-01-27,2013-02-24,2013-03-28,0
124935,ffeb11b592c9f2d0905395321788d9ee,8f64f20ec8c5449faa62996941853409,ee48e06f2308c2802f96cc703bc4bee3,NaN,37.779412,-122.213230,Oakland,CA,NaN,Oakland Unified School Dist,...,Other,highest poverty,Grades PreK-2,174.61,22.0,f,2013-10-17,2013-11-05,2013-12-16,0
124938,ffec1fafbddffcf30c11a1610431b6f5,8c5bcec846657c63c3857e4a7bc1d281,cf3d926b32e82a424cbdf6f1ed455230,4.703000e+11,35.519943,-84.362353,Madisonville,TN,NaN,Monroe Co School District,...,Technology,highest poverty,Grades PreK-2,527.05,20.0,f,2013-08-15,2013-12-07,2013-10-14,1
124955,fff309b22dacd7a37db9cb9ccee1e031,15969f9fd415e45316f5df1e4f6f7114,b25832137d33953fdfbd74616cf1dc94,3.702970e+11,35.107920,-80.886379,Pineville,NC,NaN,Charlotte-mecklenburg Sch Dist,...,Supplies,highest poverty,Grades PreK-2,292.01,19.0,f,2012-09-05,2012-10-12,2012-11-04,0

In [99]:
missing_metro.describe()[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
count,15224.000000,15213.000000,15224.000000
mean,616.840179,91.363439,0.315686
std,748.424540,148.325964,0.464804
min,118.510000,1.000000,0.000000
25%,321.445000,22.000000,0.000000
50%,491.210000,30.000000,0.000000
75%,707.945000,100.000000,1.000000
max,26111.950000,1995.000000,1.000000

In [98]:
df.describe()[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
count,124976.000000,124917.000000,124976.000000
mean,654.011811,95.445760,0.288135
std,1098.015854,163.481912,0.452896
min,92.000000,1.000000,0.000000
25%,345.810000,23.000000,0.000000
50%,510.500000,30.000000,0.000000
75%,752.960000,100.000000,1.000000
max,164382.840000,12143.000000,1.000000

In [100]:
df.groupby('school_metro').agg('median')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
school_metro,,,
rural,492.53,30.0,0
suburban,523.83,31.0,0
urban,511.15,31.0,0

In [101]:
df.groupby('school_metro').agg('mean')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
school_metro,,,
rural,612.487970,90.713651,0.352128
suburban,680.120044,100.700160,0.299178
urban,658.831716,94.746104,0.260732

## Resource Type

In [110]:
print(df.resource_type.unique())
print(df.resource_type.mode())

['Supplies' 'Books' 'Technology' 'Other' 'Trips' 'Visitors' nan]
0    Technology
dtype: object

In [111]:
missing_resource = df[df['resource_type'].isnull()]
missing_resource

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded,60daysafterpost,notfullyfundedin60days
27548,39015dac97318b046fc6066d4843fbaa,45872130f9143d5c12e4ab121bafef36,49b513fefb42c296194033302e4df8be,5.126600e+10,36.223348,-94.221285,Springdale,AR,urban,Springdale School District 50,...,NaN,moderate poverty,Grades 3-5,565.87,28.0,f,2013-01-14,2013-03-20,2013-03-15,1
29782,3d9c718b578c13ab98665bc8ceca1896,5f837f22c97079a8c7573b16a5c57c5a,1a0bee3831e240a05e749aa232da0c39,4.900420e+11,40.529808,-111.942230,Riverton,UT,suburban,Jordan School District,...,NaN,moderate poverty,Grades PreK-2,599.40,40.0,f,2013-01-15,2013-05-10,2013-03-16,1
46527,5fe48f3fe98a30a0ebc964649043bb75,f9dab7a2a94f4c7081530301af4285d4,8ddc7be1b2a3bfde5b219e9da7884ff2,4.702340e+11,35.433577,-87.312387,Summertown,TN,rural,Lawrence Co School District,...,NaN,high poverty,Grades 9-12,338.26,NaN,f,2013-03-24,2013-04-19,2013-05-23,0
60813,7d102e06967a6a8142734820723cfe7c,e8216f064de7a586d5ed74d359610bb9,fc05a10f8101036c52a1137d6a4df926,3.600100e+11,40.695131,-73.807249,Jamaica,NY,urban,New York City Dept Of Ed,...,NaN,highest poverty,Grades PreK-2,380.80,NaN,f,2013-03-05,2013-03-28,2013-05-04,0
70899,914e02ccf87de1f9975cde256ea47b14,314c7e3adc78f2fab8066b3641425edf,e540f61e9d98935f163a049abeaaab26,1.201440e+11,28.499796,-81.296813,Orlando,FL,suburban,Orange Co Public School Dist,...,NaN,highest poverty,Grades PreK-2,167.79,30.0,f,2013-04-10,2013-08-04,2013-06-09,1
72655,94f566dfc22a25f6a5b499de4a91f330,92846359c24cd4793279e19efba7a24e,0d15795153dab5eb94e8be5443b3da9e,6.227100e+10,33.969639,-118.287889,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,NaN,high poverty,Grades PreK-2,810.31,NaN,t,2012-01-10,2012-01-22,2012-03-10,0
73461,96924f865a656e2ce8bb1c43626daf9a,fde02e5dfa9d93292f2685bb872e53a7,5cb05949e64ce19d339596df5a11a5f6,6.338401e+10,38.562695,-121.512962,Sacramento,CA,urban,Sacramento City Unif Sch Dist,...,NaN,highest poverty,Grades PreK-2,330.14,62.0,f,2013-01-23,2013-04-24,2013-03-24,1
82462,a8b74dd99c299129dc42cb35f8e9ff8c,f4917e4c2a928a998dd955cd1fed990e,cc8873c862878fb748e355649e2cf993,4.816110e+11,29.850575,-95.595309,Houston,TX,suburban,Cypress-fairbanks Ind Sch Dist,...,NaN,high poverty,Grades PreK-2,562.87,NaN,f,2013-03-02,2013-04-15,2013-05-01,0
84083,abe6c57cd2111c00ed95e890a953e669,378bdce19fbbce60c8e35daab08e7bb9,1cc2b693b983285f9bbf80933f64482e,2.711130e+11,47.939206,-97.027874,E Grand Forks,MN,suburban,East Grand Forks Ind SD 595,...,NaN,moderate poverty,Grades PreK-2,694.20,21.0,f,2013-02-21,2013-04-05,2013-04-22,0
85492,aee270a9a86623ec7cc99ced0b289e33,2e842d31f1aa295ebedf0778d25fe5c1,98ff4e77561c5e99c709cad7da099862,3.502460e+11,34.058305,-106.898560,Socorro,NM,NaN,Socorro Cons School District,...,NaN,moderate poverty,Grades PreK-2,910.00,60.0,f,2013-04-21,2013-08-19,2013-06-20,1
88786,b5c0657f3b5c9005a284f88f5e1cde31,2024633b9d4e87d68a711b727a12a977,9aa7a77a6c226ad34416d6b359f7bc80,6.227100e+10,34.275531,-118.444410,San Fernando,CA,suburban,Los Angeles Unif Sch Dist,...,NaN,high poverty,Grades PreK-2,581.13,80.0,t,2012-02-11,2012-05-12,2012-04-11,1
100401,cd7348a65e5f078e4d7526a7843e6a95,202c798b01acbde285f49216750a2228,f5a203840809b0bd92b121dbfffa5927,6.212101e+10,33.891954,-118.356549,Lawndale,CA,suburban,Lawndale Elem School District,...,NaN,highest poverty,Grades 6-8,588.95,10.0,t,2013-03-24,2013-04-17,2013-05-23,0
105067,d7018f0ef334133b7c392bcaf6737cfb,29bd4e269db8537eaedc3efd8a56a1c4,74ea8ec7b1c0c348355fbba08e8c7e5d,1.729580e+11,38.617125,-89.055430,Odin,IL,NaN,Odin Public School Dist 722,...,NaN,high poverty,Grades 3-5,359.24,NaN,f,2013-03-09,2013-05-17,2013-05-08,1
105591,d81532f03a8d33056ba6ff414096bff4,1e1004ce3c3d71976372005c490b6b2b,af98f822fb5680981b8636d7f17b7b68,9.019200e+10,41.744835,-72.671455,Hartford,CT,urban,Hartford Public School Dist,...,NaN,highest poverty,Grades PreK-2,564.28,22.0,f,2013-03-29,2013-04-27,2013-05-28,0
108854,deae09559198fff5f023618e9c08cd8a,4771f61d8da69efc2329d9fc523fc491,087eba3c6b85fe4dd3d3fc7170ce0cef,4.901140e+11,37.143141,-113.627269,Saint George,UT,urban,Washington Co School District,...,NaN,high poverty,Grades PreK-2,255.61,22.0,t,2013-04-03,2013-05-11,2013-06-02,0
118753,f31000d59a79543237020503f6be0cc3,e60efea0847011b047cfa55a24c078eb,56bcfba4e56040df3cbb0eb6a196e22c,5.306690e+11,47.291894,-122.589839,Gig Harbor,WA,suburban,Peninsula School District 401,...,NaN,moderate poverty,Grades 6-8,1018.31,600.0,f,2013-02-14,2013-03-24,2013-04-15,0
124429,fef659c119520b29e5bbf37e7895f050,7de1c896628120a06ab8e6bde5610a83,5625ce3b78ce5b8044de245107bf5434,6.227100e+10,34.271175,-118.406090,Pacoima,CA,urban,Los Angeles Unif Sch Dist,...,NaN,highest poverty,Grades 6-8,1482.34,75.0,t,2013-04-16,2013-05-02,2013-06-15,0

In [112]:
missing_resource.describe()[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
count,17.000000,12.00000,17.000000
mean,600.558824,87.50000,0.411765
std,322.079176,163.03569,0.507300
min,167.790000,10.00000,0.000000
25%,359.240000,22.00000,0.000000
50%,565.870000,35.00000,0.000000
75%,694.200000,65.25000,1.000000
max,1482.340000,600.00000,1.000000

In [113]:
df.groupby('resource_type').agg('median')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
resource_type,,,
Books,451.070,31.0,0
Other,460.585,28.0,0
Supplies,450.850,32.0,0
Technology,632.330,31.0,0
Trips,1417.480,57.5,0
Visitors,984.610,90.0,0

In [114]:
df.groupby('resource_type').agg('mean')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
resource_type,,,
Books,504.355152,78.373777,0.238009
Other,570.544708,92.496867,0.279639
Supplies,535.324850,105.474700,0.248026
Technology,817.146859,95.182221,0.354858
Trips,3444.905157,167.579772,0.135328
Visitors,1404.803497,177.146853,0.216783

## Grade Level

In [115]:
print(df.grade_level.unique())
print(df.grade_level.mode())

['Grades PreK-2' 'Grades 3-5' 'Grades 9-12' 'Grades 6-8' nan]
0    Grades PreK-2
dtype: object

In [116]:
missing_grade = df[df['grade_level'].isnull()]
missing_grade[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
39829,452.33,NaN,1
111854,2227.11,110.0,1
124147,1079.51,40.0,0

In [117]:
df.describe()[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
count,124976.000000,124917.000000,124976.000000
mean,654.011811,95.445760,0.288135
std,1098.015854,163.481912,0.452896
min,92.000000,1.000000,0.000000
25%,345.810000,23.000000,0.000000
50%,510.500000,30.000000,0.000000
75%,752.960000,100.000000,1.000000
max,164382.840000,12143.000000,1.000000

In [118]:
df.groupby('grade_level').agg('mean')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
grade_level,,,
Grades 3-5,628.203650,98.773761,0.295092
Grades 6-8,705.694859,148.473270,0.287071
Grades 9-12,859.580626,149.638610,0.283319
Grades PreK-2,580.776086,50.078590,0.284538

## Students Reached

In [119]:
df.students_reached.describe()

count    124917.000000
mean         95.445760
std         163.481912
min           1.000000
25%          23.000000
50%          30.000000
75%         100.000000
max       12143.000000
Name: students_reached, dtype: float64

In [121]:
missing_reach = df[df['students_reached'].isnull()]
missing_reach

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded,60daysafterpost,notfullyfundedin60days
1816,03debe8c1b332a704c0c6c7dcaa62827,670e3045d1c03e5a4efa8260f3e0cdf5,148b89f46009dd4968790f45731bc4d3,NaN,40.376448,-80.018374,Pittsburgh,PA,suburban,Pennsylvania Dept of Education,...,Technology,highest poverty,Grades PreK-2,718.59,NaN,f,2013-01-29,2013-02-11,2013-03-30,0
4155,08c3a6753cdf43154dcd9de9eae53858,c12cf4ea7353cef8e2eba40b16ca4ce0,2c4dce0b8ec00f6ef45faca88c28e8ed,6.266400e+10,38.282847,-122.263354,Napa,CA,urban,Napa Valley Unified Sch Dist,...,Supplies,highest poverty,Grades 3-5,561.32,NaN,f,2013-02-27,2013-05-10,2013-04-28,1
4894,0a4231ac0d6f9ff370e42f3650fd57a5,cb6f80afcc1a2aadecaaf4422dbcd510,34c695b868c6f96356470d0c82d9818e,2.102990e+11,38.105955,-85.692432,Louisville,KY,urban,Jefferson Co School District,...,Technology,highest poverty,Grades 6-8,1004.68,NaN,t,2013-01-28,2013-04-25,2013-03-29,1
11199,16fab18eb2d46f6a1d5f2a4151f1dee6,10db29d69656a2f80b7f03d1653af6e1,cc7f1f60f971d05161b49218af8b1886,6.298200e+10,39.774970,-121.579806,Paradise,CA,NaN,Paradise Unified Sch District,...,Books,high poverty,Grades 3-5,366.07,NaN,f,2013-03-17,2013-05-08,2013-05-16,0
11407,176feaf120a7d0f0c1c824325cf0d03f,b92bde35ca6fc7408bf261bdb98230c4,2170dd208a81c0dbbaacc9be3d553e60,4.502490e+11,33.812498,-79.023304,Conway,SC,rural,Horry Co School District,...,Technology,highest poverty,Grades 3-5,443.46,NaN,f,2013-04-09,2013-06-28,2013-06-08,1
13981,1cf278f7777c40dc9c9b27b8ee41337e,680d49585347e0045f39baa108578209,e4ab8e56c3f634ed0cc4f6f28134d164,3.409450e+11,39.958270,-74.377012,Whiting,NJ,suburban,Manchester Twp School District,...,Supplies,moderate poverty,Grades 3-5,169.64,NaN,f,2013-03-30,2013-06-05,2013-05-29,1
16064,2138aee32119049ea15c5f7f7e3f3a7e,fc0a47656a5ebd1255abbbcbc3009911,f12b1a0ce3f9359ac6edefde20af9919,3.400050e+11,40.348351,-74.071671,Red Bank,NJ,suburban,Red Bank Borough Public SD,...,Other,moderate poverty,Grades 3-5,250.20,NaN,f,2013-01-20,2013-02-02,2013-03-21,0
19850,28f4a4db26fae00cde2355f25f4ef0ca,a79739621b84e1c71b02cc2d6962b1da,bee79853f719cba9ecf06a934127f9a1,NaN,40.587423,-73.951627,Bronx,NY,urban,District 75,...,Supplies,highest poverty,Grades PreK-2,398.45,NaN,f,2013-04-06,2013-05-20,2013-06-05,0
21041,2b52921d14440c572181194d7b690462,18998eb0e635e4c13abfd47c981e788b,6a3b6af3e835b60b4b9f0ee2bb15e4e8,1.800150e+11,40.095971,-85.711263,Anderson,IN,urban,Anderson Cmty School District,...,Books,highest poverty,Grades PreK-2,674.00,NaN,f,2013-04-14,2013-04-25,2013-06-13,0
26352,3667fb3bb2487bf02c1ea4423aadc09f,dbc8c0d1131796e5d361f283b464afce,e5753aeef77a380a79c903f483e396f6,1.812810e+11,39.816110,-86.283113,Indianapolis,IN,urban,Msd Of Wayne Twp,...,Books,highest poverty,Grades PreK-2,485.34,NaN,t,2013-03-24,2013-04-23,2013-05-23,0
28503,3afb8f0c5ab05797bd76ea33f4c5a574,9591396fc6b41cf3da8bb7a2a54c4eb0,66cdbc8679cde1e5d8a4fa11574ae6db,3.600100e+11,40.746063,-73.909088,Woodside,NY,urban,New York City Dept Of Ed,...,Other,highest poverty,Grades PreK-2,272.92,NaN,f,2013-04-14,2013-06-04,2013-06-13,0
28998,3c033488a864983c24e5093cf0b997c4,f2e1494ea3149ce81fa34bbd3d28e8ca,df1bdd2bb55e41b54de3f671745fddde,1.000190e+11,39.159173,-75.539273,Dover,DE,urban,Capital School District,...,Supplies,high poverty,Grades PreK-2,478.31,NaN,f,2013-01-21,2013-02-05,2013-03-22,0
29048,3c21206ba1fe8529521bd92571d5a2fe,0d6d619d476117c3ba1b64eb7cce4228,bb477994115ad6275e95623e927c040e,3.416290e+11,40.231834,-74.777481,Trenton,NJ,urban,Trenton School District,...,Technology,highest poverty,Grades 3-5,919.91,NaN,f,2013-04-11,2013-07-11,2013-06-10,1
36408,4af35637291036c039ef55cd735bbfd3,774fd13fbbeb276ddfa173b0d3d483e7,1228786da4e0c647afa946be66e09879,1.733000e+11,39.931183,-91.395065,Quincy,IL,NaN,Quincy School District 172,...,Technology,high poverty,Grades 6-8,527.05,NaN,f,2013-03-01,2013-04-23,2013-04-30,0
38043,4e638dde21aada0b88b13ccf8080407a,9e0cb4465375c8e91926785faaff177c,a2d5b769e1c7892e48106eea3f41d295,3.702970e+11,35.219857,-80.842088,Charlotte,NC,urban,Charlotte-mecklenburg Sch Dist,...,Technology,moderate poverty,Grades 9-12,250.07,NaN,f,2013-03-06,2013-06-15,2013-05-05,1
38913,501fe37f73c08d06b6a7b23375948dd4,916109b6944cf3e4703128774efdbf34,e76f1b86793ea4c7c1da85c53d89691d,6.227100e+10,34.012474,-118.246624,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Books,high poverty,Grades 3-5,364.22,NaN,f,2012-01-14,2012-02-18,2012-03-14,0
39829,520870e9dabee54c23d606b11b4587e9,287f8e2d96c3ddc34b26c94fb9915d72,33ab59d5cfb9d7535be0162f783190ef,2.007950e+11,39.050135,-94.615356,Kansas City,KS,urban,Kansas City Public SD 500,...,Books,highest poverty,NaN,452.33,NaN,t,2013-02-24,2013-06-17,2013-04-25,1
40892,542d7a1f75876645d58d93c7330b2a80,50fcfc5bc04d5952ae79c1f95394853b,2973c4bb32adfb66fc913dc02dda2a8a,3.619320e+11,41.445278,-74.391296,Middletown,NY,NaN,Middletown Enlarged City Sd,...,Supplies,highest poverty,Grades 3-5,175.99,NaN,t,2013-02-13,2013-03-05,2013-04-14,0
41971,5650c63c1f78e859c88e07c1e52980fd,1e24af5ed3b6162c596dd7d227b932ad,10f11130bada2db4d7e9bcbe2b22f5fc,4.807710e+11,29.880994,-95.455016,Houston,TX,urban,Aldine Ind School District,...,Technology,highest poverty,Grades 3-5,443.46,NaN,f,2013-02-27,2013-04-17,2013-04-28,0
45934,5e97c4d66aceea5e4ed2b5570e1901ad,7318f6fac0531ef7336d3ecd6d2336fc,89d2c434ce8c1033dda2bfd7d896c8db,4.501560e+11,34.780651,-80.402854,Pageland,SC,NaN,Chesterfield Co School Dist,...,Books,highest poverty,Grades PreK-2,864.11,NaN,f,2013-02-27,2013-05-03,2013-04-28,1
46527,5fe48f3fe98a30a0ebc964649043bb75,f9dab7a2a94f4c7081530301af4285d4,8ddc7be1b2a3bfde5b219e9da7884ff2,4.702340e+11,35.433577,-87.312387,Summertown,TN,rural,Lawrence Co School District,...,NaN,high poverty,Grades 9-12,338.26,NaN,f,2013-03-24,2013-04-19,2013-05-23,0
48809,646c4c111e62e2d65f6388cc3ba4ac5d,14a6c05a291f93f37ccec2cf753f3166,41d37a7c834ad3c3aae88b301c1b7dc3,4.841350e+11,29.600627,-95.543581,Stafford,TX,suburban,Stafford Municipal Sch Dist,...,Supplies,highest poverty,Grades PreK-2,277.20,NaN,f,2013-03-23,2013-04-11,2013-05-22,0
52192,6b6d7b3553dd80efe2a70a51e62768f8,7e4dfae860d10fc77dfa2c593d482694,07cc0289219e79f73a18935324192bc5,5.305790e+11,47.414490,-122.844178,Belfair,WA,rural,North Mason School Dist 403,...,Other,high poverty,Grades 9-12,171.46,NaN,f,2013-03-16,2013-04-07,2013-05-15,0
53579,6e54b339044cb121d1ee1ceff9b66bff,a9e565495e04e5050fa43dff81139a63,2f16d0db88c68552e13cac88c49ce7a7,1.709930e+11,41.852531,-87.654648,Chicago,IL,urban,West Side Hs Network,...,Technology,highest poverty,Grades 9-12,801.69,NaN,f,2013-04-26,2013-06-12,2013-06-25,0
54692,7097a68bc92f8fe197345ee66c3b1a59,e48648c9b3f61252c6052d99810704ab,69958548fc857ddd2b7ca8cdc312b38c,6.227101e+10,34.102363,-118.203756,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Technology,moderate poverty,Grades PreK-2,633.32,NaN,f,2013-04-13,2013-08-05,2013-06-12,1
57411,763535e3c521833f057ae12b3520384c,8f98470b0321ff5ac0601453257ceb01,82e61347b7469941fe4005e413fce4ee,1.709930e+11,41.774473,-87.708038,Chicago,IL,urban,Midway Elementary Network,...,Technology,highest poverty,Grades 6-8,956.92,NaN,f,2013-02-10,2013-02-19,2013-04-11,0
57570,767f910be2b7c86bbebb848ad370e509,4b324387fb8e3534a3a1cae41c042a40,6dd018e6d8d720f7a884ea8a0322233a,9.049500e+10,41.290350,-72.972314,West Haven,CT,suburban,West Haven Public Schools,...,Technology,high poverty,Grades 3-5,722.53,NaN,f,2013-03-10,2013-03-23,2013-05-09,0
60008,7b7ae5ebaa2eef48e201746018af5440,c43b17a0b0a6942986cd85cf153de63b,e93f90e9af6273a895d72f0645bb1b9d,6.227100e+10,34.141129,-118.392998,Studio City,CA,urban,Los Angeles Unif Sch Dist,...,Technology,low poverty,Grades PreK-2,850.81,NaN,t,2012-01-21,2012-03-03,2012-03-21,0
60813,7d102e06967a6a8142734820723cfe7c,e8216f064de7a586d5ed74d359610bb9,fc05a10f8101036c52a1137d6a4df926,3.600100e+11,40.695131,-73.807249,Jamaica,NY,urban,New York City Dept Of Ed,...,NaN,highest poverty,Grades PreK-2,380.80,NaN,f,2013-03-05,2013-03-28,2013-05-04,0
60993,7d782449bca42de189b044b4ca33c43d,18cf6e226f679728caf26d4126c4b377,67c7208b43febeb843b3afb3502d67c6,2.931440e+11,37.814852,-92.134911,Ft Leonard Wd,MO,NaN,Waynesville School Dist R6,...,Other,moderate poverty,Grades PreK-2,357.00,NaN,f,2012-02-05,2012-03-07,2012-04-05,0
68106,8b796ee9327b2fc3ab68592c785dc623,43c2f3aaa181b38636d7d81b1e9e23d8,1de531ca975909fc58a5df55da9c3396,4.820250e+11,29.812540,-95.172054,Houston,TX,suburban,Galena Park Ind School Dist,...,Technology,highest poverty,Grades 9-12,646.46,NaN,f,2013-04-05,2013-07-12,2013-06-04,1
68285,8bd9d27defed99cec98e35e1c43c9080,9591396fc6b41cf3da8bb7a2a54c4eb0,66cdbc8679cde1e5d8a4fa11574ae6db,3.600100e+11,40.746063,-73.909088,Woodside,NY,urban,New York City Dept Of Ed,...,Books,highest poverty,Grades PreK-2,279.89,NaN,f,2013-04-14,2013-05-20,2013-06-13,0
69498,8e657463ab526e20bedcb210f1406d25,0ad5bce248d6f722510746563f8c8fd7,e083c264ace7b1b7d0bf73b6451fbaa5,4.503750e+11,34.799498,-81.674034,Jonesville,SC,rural,Union Co School District,...,Technology,highest poverty,Grades PreK-2,443.46,NaN,f,2013-04-24,2013-07-21,2013-06-23,1
71406,925542e8eabda758b4b2591ff77f9e3f,e292fda6b3c354dc7785f65efd8e808c,ba11d036844246189af0d60d61a8e414,1.006000e+10,32.793453,-85.186111,Valley,AL,NaN,Chambers Co School District,...,Supplies,high poverty,Grades 3-5,213.00,NaN,f,2013-02-04,2013-03-04,2013-04-05,0
72655,94f566dfc22a25f6a5b499de4a91f330,92846359c24cd4793279e19efba7a24e,0d15795153dab5eb94e8be5443b3da9e,6.227100e+10,33.969639,-118.287889,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,NaN,high poverty,Grades PreK-2,810.31,NaN,t,2012-01-10,2012-01-22,2012-03-10,0
73207,9618d3974948b2c6fe36d05b8f1f60f3,d5ebea9117d6a754c5ef3a3894e09308,b74ae6d69b7a196ccc13d16d53761b82,5.401170e+11,39.509082,-79.797701,Kingwood,WV,rural,Preston Co School District,...,Supplies,high poverty,Grades 9-12,1083.89,NaN,f,2013-03-05,2013-04-22,2013-05-04,0
73409,967b0317789b27f1203e374d5517ecb3,5c6a9f747ce58480f45f9fbcc130b863,57dea65b21b1716034870cdd563e91a5,4.219170e+11,40.415103,-80.020526,Pittsburgh,PA,suburban,Pittsburgh Public Sch District,...,Other,highest poverty,Grades 3-5,786.32,NaN,f,2013-01-19,2013-04-04,2013-03-20,1
73939,97897075c5e6a6b3a28f844a79ebe4ed,4d02c78f7f1ed0b4a47aaa885aed08b6,4da26a5224a3bdec2f9e9f350e4d3a9a,4.823640e+11,29.754446,-95.390694,Houston,TX,urban,Houston Ind School District,...,Technology,high poverty,Grades 3-5,265.51,NaN,f,2013-01-17,2013-05-16,2013-03-18,1
73977,9797b388f07b3531d7bc47b5b81b8575,405802a48b01ddc76292bea60bd459c8,c18c77eb89953913061aad095021788e,6.274501e+10,35.417537,-119.136705,Bakersfield,CA,urban,Norris School District,...,Technology,moderate poverty,Grades PreK-2,830.44,NaN,t,2013-03-23,2013-04-25,2013-05-22,0
73997,97a21654a543447cb48fcb7cdd3e07c1,a6f770f198a2bb85fc642fea7b4c4484,a0f86bceebd12cb3385ca88970f78892,4.816230e+11,32.740009,-96.844955,Dallas,TX,urban,Dallas Ind School District,...,Supplies,highest poverty,Grades 6-8,536.92,NaN,f,2013-02-03,2013-04-30,2013-04-04,1
73998,97a2d3fc64409f7d232a39a45db9a779,80cea208df908b1afd89f2572a328c99,48d57deca8aeb92d3132176f1e366e91,3.600090e+11,40.877098,-73.881612,Bronx,NY,urban,New York City Dept Of Ed,...,Books,highest poverty,Grades 6-8,518.82,NaN,f,2013-02-10,2013-03-02,2013-04-11,0
75352,9a4d7711ddbc2461f34372d672238f15,771dccf56d286bfea8a0ea7ac2f35b6f,19cec398d5efd343d959425b53536e6e,3.620100e+11,40.903709,-73.829467,Mount Vernon,NY,suburban,Mt Vernon City School District,...,Technology,highest poverty,Grades 3-5,700.64,NaN,t,2013-05-05,2013-07-18,2013-07-04,1
75470,9a8f209b74b61a802759e071b409de46,02d3e72d82a090e95a75405ae8fa3a60,9c6757b7cc8994f044644c3bb802a8dc,1.200060e+11,30.276556,-82.127088,Macclenny,FL,NaN,Baker Co School District,...,Supplies,high poverty,Grades 3-5,167.12,NaN,f,2013-05-10,2013-07-02,2013-07-09,0
76643,9cf41007be233ca04af6cadfa9b04024,f2296f06d722c4437ef4f8b9840a588d,37475518aed53ed43f1ba165958e89e5,3.702970e+11,35.141060,-80.894592,Charlotte,NC,urban,Charlotte-mecklenburg Sch Dist,...,Technology,highest poverty,Grades PreK-2,473.74,NaN,f,2013-03-24,2013-04-08,2013-05-23,0
82462,a8b74dd99c299129dc42cb35f8e9ff8c,f4917e4c2a928a998dd955cd1fed990e,cc8873c862878fb748e355649e2cf993,4.816110e+11,29.850575,-95.595309,Houston,TX,suburban,Cypress-fairbanks Ind Sch Dist,...,NaN,high poverty,Grades PreK-2,562.87,NaN,f,2013-03-02,2013-04-15,2013-05-01,0
84712,ad4803ea903870110f9f3461069d722b,d08dff176e12c3e260aa33cebb78fbc8,e510891687959d18951c3c886dba4830,3.600090e+11,40.694645,-73.988304,Brooklyn,NY,urban,New York City Dept Of Ed,...,Technology,highest poverty,Grades 9-12,201.84,NaN,f,2013-01-20,2013-02-18,2013-03-21,0
96839,c6327233f41e30f4f3cf68a205dffc38,1c50a576f45f7e7488fcbd847c4bd890,eed3c1e91e5ce0ced08e9abcbccc3913,4.816530e+11,29.685877,-95.114159,Deer Park,TX,suburban,Deer Park Ind School District,...,Books,moderate poverty,Grades PreK-2,513.46,NaN,f,2013-04-12,2013-05-10,2013-06-11,0
99036,cad8127aa3cb617aae6a0e7324368954,82fb5cf622f77f5329b2c6cd86836a34,3e70db5ff12ea8ccb10d5fdbc6f4cd45,4.702940e+11,35.135612,-89.880265,Memphis,TN,urban,Memphis City School District,...,Technology,moderate poverty,Grades PreK-2,885.27,NaN,f,2013-02-14,2013-03-17,2013-04-15,0
104536,d5fc2f996eda5f0a1b9c702b0557f607,ec3ba822ac824c0144c30ef5df51fbdb,ce051093cf769586ea59a39579e4a998,3.701920e+11,36.084034,-79.745186,Greensboro,NC,urban,Guilford Co School District,...,Technology,moderate poverty,Grades PreK-2,692.33,NaN,f,2013-02-01,2013-02-27,2013-04-02,0
105067,d7018f0ef334133b7c392bcaf6737cfb,29bd4e269db8537eaedc3efd8a56a1c4,74ea8ec7b1c0c348355fbba08e8c7e5d,1.729580e+11,38.617125,-89.055430,Odin,IL,NaN,Odin Public School Dist 722,...,NaN,high poverty,Grades 3-5,359.24,NaN,f,2013-03-09,2013-05-17,2013-05-08,1
108655,de4316bd6c32fbb256811f65596f6973,75a9d41097d1009b38c60fdd1f1d1ddd,dc329c71c9fbc512ae8743262f347129,1.710950e+11,41.513676,-87.590306,Ford Heights,IL,suburban,Ford Heights School Dist 169,...,Supplies,highest poverty,Grades PreK-2,493.60,NaN,f,2013-01-20,2013-03-31,2013-03-21,1
111556,e40b24d49159cee53167e414623609c7,1be08873274f10107ac045561bf46abb,16964a858c5bc638b45e825b8ac90db5,4.088200e+10,33.412450,-112.251605,Tolleson,AZ,NaN,Union Elem School District 62,...,Books,highest poverty,Grades PreK-2,537.29,NaN,f,2013-02-10,2013-05-31,2013-04-11,1
111803,e48916cd1a859a28baea05c5e4757473,b545858e75c8213e3404ee6c9f0b8374,035ceabe96cf22c233a35e746cabbe73,NaN,34.077539,-118.211794,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Supplies,high poverty,Grades PreK-2,345.93,NaN,f,2013-03-09,2013-06-16,2013-05-08,1
113161,e76ee7202c85d31bfd37fdce7477f59f,55c295f65a464cd8109497e0366fc6cd,0efce00b4fef1da00b9efdae06689ebb,NaN,44.847813,-93.253173,Bloomington,MN,urban,Minnesota Dept of Education,...,Technology,high poverty,Grades 3-5,694.20,NaN,f,2013-02-27,2013-03-16,2013-04-28,0
115378,ec49eae2472f08c57acf40b9a99170ac,a7d808d930da8a383d1a6e18af10a579,281170aff8b61e17e81e4a8cbbf9373a,1.733210e+11,40.306970,-88.153891,Rantoul,IL,NaN,Rantoul City School Dist 137,...,Supplies,highest poverty,Grades PreK-2,294.89,NaN,f,2013-03-04,2013-03-21,2013-05-03,0
116951,ef72d9c9e0a3f9fef75a9ef7236e6f10,c501003a13a886b9cda84bdeab07d602,6ca46ba50c7f6d4d316081f47fe8c419,1.804710e+11,40.890110,-85.508460,Huntington,IN,NaN,Huntington Co Cmty Sch Dist,...,Technology,high poverty,Grades 9-12,515.95,NaN,f,2013-03-17,2013-04-30,2013-05-16,0
120080,f5f10f564362588e68119c8de496bf7e,f1b2ba66004de90d303f25d52ea729b1,b180fd827a30b60c4e776f20f542d600,1.302220e+11,34.142463,-84.176340,Cumming,GA,suburban,Forsyth Co School District,...,Technology,moderate poverty,Grades 3-5,687.05,NaN,f,2013-02-07,2013-03-01,2013-04-08,0
122394,facba980952e33e50482aa3202510533,fde8e02866bf4096f96b507883a15079,865fe4b8d97f2f58c4658d9f12290c76,2.931680e+11,36.739276,-91.840843,West Plains,MO,rural,West Plains Sch District R7,...,Other,highest poverty,Grades PreK-2,355.20,NaN,f,2013-04-17,2013-08-13,2013-06-16,1
123026,fc1d7bf2038abfd50c833848dc40294e,8ca377ead99ae53c18d49e36b9c5fc4f,e0ffebd0e13c9a76453577511ecc46df,1.201440e+11,28.553837,-81.622223,Oakland,FL,suburban,Orange Co Public School Dist,...,Books,moderate poverty,Grades PreK-2,462.79,NaN,f,2013-03-06,2013-04-11,2013-05-05,0

In [125]:
missing_reach.describe()[['total_price_including_optional_support', 'notfullyfundedin60days']]

       total_price_including_optional_support  notfullyfundedin60days
count                               59.000000               59.000000
mean                               519.805763                0.338983
std                                236.033128                0.477427
min                                167.120000                0.000000
25%                                350.565000                0.000000
50%                                485.340000                0.000000
75%                                693.265000                1.000000
max                               1083.890000                1.000000

In [124]:
df.describe()[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
count,124976.000000,124917.000000,124976.000000
mean,654.011811,95.445760,0.288135
std,1098.015854,163.481912,0.452896
min,92.000000,1.000000,0.000000
25%,345.810000,23.000000,0.000000
50%,510.500000,30.000000,0.000000
75%,752.960000,100.000000,1.000000
max,164382.840000,12143.000000,1.000000

## primary_focus_area

In [133]:
print(df.primary_focus_area.unique())
print(df.primary_focus_area.mode())

['Math & Science' 'History & Civics' 'Literacy & Language'
 'Applied Learning' 'Music & The Arts' 'Health & Sports' 'Special Needs'
 nan]
0    Literacy & Language
dtype: object

In [126]:
df.groupby('primary_focus_area').agg('mean')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
primary_focus_area,,,
Applied Learning,747.061900,124.867072,0.312084
Health & Sports,660.385934,255.661706,0.281831
History & Civics,708.962914,101.076789,0.284606
Literacy & Language,577.581989,64.520875,0.307363
Math & Science,755.640577,94.949796,0.264288
Music & The Arts,680.189343,220.249935,0.233737
Special Needs,611.515734,32.017138,0.303905

In [132]:
df.groupby('primary_focus_area').agg('median')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
primary_focus_area,,,
Applied Learning,519.75,30.0,0
Health & Sports,521.25,120.0,0
History & Civics,523.84,70.0,0
Literacy & Language,489.04,28.0,0
Math & Science,543.93,49.0,0
Music & The Arts,510.92,120.0,0
Special Needs,513.51,17.0,0

In [127]:
missing_priarea = df[df['primary_focus_area'].isnull()]
missing_priarea

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded,60daysafterpost,notfullyfundedin60days
27548,39015dac97318b046fc6066d4843fbaa,45872130f9143d5c12e4ab121bafef36,49b513fefb42c296194033302e4df8be,5.126600e+10,36.223348,-94.221285,Springdale,AR,urban,Springdale School District 50,...,NaN,moderate poverty,Grades 3-5,565.87,28.0,f,2013-01-14,2013-03-20,2013-03-15,1
29782,3d9c718b578c13ab98665bc8ceca1896,5f837f22c97079a8c7573b16a5c57c5a,1a0bee3831e240a05e749aa232da0c39,4.900420e+11,40.529808,-111.942230,Riverton,UT,suburban,Jordan School District,...,NaN,moderate poverty,Grades PreK-2,599.40,40.0,f,2013-01-15,2013-05-10,2013-03-16,1
46527,5fe48f3fe98a30a0ebc964649043bb75,f9dab7a2a94f4c7081530301af4285d4,8ddc7be1b2a3bfde5b219e9da7884ff2,4.702340e+11,35.433577,-87.312387,Summertown,TN,rural,Lawrence Co School District,...,NaN,high poverty,Grades 9-12,338.26,NaN,f,2013-03-24,2013-04-19,2013-05-23,0
60813,7d102e06967a6a8142734820723cfe7c,e8216f064de7a586d5ed74d359610bb9,fc05a10f8101036c52a1137d6a4df926,3.600100e+11,40.695131,-73.807249,Jamaica,NY,urban,New York City Dept Of Ed,...,NaN,highest poverty,Grades PreK-2,380.80,NaN,f,2013-03-05,2013-03-28,2013-05-04,0
70899,914e02ccf87de1f9975cde256ea47b14,314c7e3adc78f2fab8066b3641425edf,e540f61e9d98935f163a049abeaaab26,1.201440e+11,28.499796,-81.296813,Orlando,FL,suburban,Orange Co Public School Dist,...,NaN,highest poverty,Grades PreK-2,167.79,30.0,f,2013-04-10,2013-08-04,2013-06-09,1
72655,94f566dfc22a25f6a5b499de4a91f330,92846359c24cd4793279e19efba7a24e,0d15795153dab5eb94e8be5443b3da9e,6.227100e+10,33.969639,-118.287889,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,NaN,high poverty,Grades PreK-2,810.31,NaN,t,2012-01-10,2012-01-22,2012-03-10,0
73461,96924f865a656e2ce8bb1c43626daf9a,fde02e5dfa9d93292f2685bb872e53a7,5cb05949e64ce19d339596df5a11a5f6,6.338401e+10,38.562695,-121.512962,Sacramento,CA,urban,Sacramento City Unif Sch Dist,...,NaN,highest poverty,Grades PreK-2,330.14,62.0,f,2013-01-23,2013-04-24,2013-03-24,1
82462,a8b74dd99c299129dc42cb35f8e9ff8c,f4917e4c2a928a998dd955cd1fed990e,cc8873c862878fb748e355649e2cf993,4.816110e+11,29.850575,-95.595309,Houston,TX,suburban,Cypress-fairbanks Ind Sch Dist,...,NaN,high poverty,Grades PreK-2,562.87,NaN,f,2013-03-02,2013-04-15,2013-05-01,0
84083,abe6c57cd2111c00ed95e890a953e669,378bdce19fbbce60c8e35daab08e7bb9,1cc2b693b983285f9bbf80933f64482e,2.711130e+11,47.939206,-97.027874,E Grand Forks,MN,suburban,East Grand Forks Ind SD 595,...,NaN,moderate poverty,Grades PreK-2,694.20,21.0,f,2013-02-21,2013-04-05,2013-04-22,0
85492,aee270a9a86623ec7cc99ced0b289e33,2e842d31f1aa295ebedf0778d25fe5c1,98ff4e77561c5e99c709cad7da099862,3.502460e+11,34.058305,-106.898560,Socorro,NM,NaN,Socorro Cons School District,...,NaN,moderate poverty,Grades PreK-2,910.00,60.0,f,2013-04-21,2013-08-19,2013-06-20,1
88786,b5c0657f3b5c9005a284f88f5e1cde31,2024633b9d4e87d68a711b727a12a977,9aa7a77a6c226ad34416d6b359f7bc80,6.227100e+10,34.275531,-118.444410,San Fernando,CA,suburban,Los Angeles Unif Sch Dist,...,NaN,high poverty,Grades PreK-2,581.13,80.0,t,2012-02-11,2012-05-12,2012-04-11,1
105067,d7018f0ef334133b7c392bcaf6737cfb,29bd4e269db8537eaedc3efd8a56a1c4,74ea8ec7b1c0c348355fbba08e8c7e5d,1.729580e+11,38.617125,-89.055430,Odin,IL,NaN,Odin Public School Dist 722,...,NaN,high poverty,Grades 3-5,359.24,NaN,f,2013-03-09,2013-05-17,2013-05-08,1
105591,d81532f03a8d33056ba6ff414096bff4,1e1004ce3c3d71976372005c490b6b2b,af98f822fb5680981b8636d7f17b7b68,9.019200e+10,41.744835,-72.671455,Hartford,CT,urban,Hartford Public School Dist,...,NaN,highest poverty,Grades PreK-2,564.28,22.0,f,2013-03-29,2013-04-27,2013-05-28,0
108854,deae09559198fff5f023618e9c08cd8a,4771f61d8da69efc2329d9fc523fc491,087eba3c6b85fe4dd3d3fc7170ce0cef,4.901140e+11,37.143141,-113.627269,Saint George,UT,urban,Washington Co School District,...,NaN,high poverty,Grades PreK-2,255.61,22.0,t,2013-04-03,2013-05-11,2013-06-02,0
124429,fef659c119520b29e5bbf37e7895f050,7de1c896628120a06ab8e6bde5610a83,5625ce3b78ce5b8044de245107bf5434,6.227100e+10,34.271175,-118.406090,Pacoima,CA,urban,Los Angeles Unif Sch Dist,...,NaN,highest poverty,Grades 6-8,1482.34,75.0,t,2013-04-16,2013-05-02,2013-06-15,0

In [129]:
missing_priarea.describe()[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
count,15.000000,10.000000,15.000000
mean,573.482667,44.000000,0.466667
std,324.489968,23.098822,0.516398
min,167.790000,21.000000,0.000000
25%,348.750000,23.500000,0.000000
50%,564.280000,35.000000,0.000000
75%,646.800000,61.500000,1.000000
max,1482.340000,80.000000,1.000000

In [130]:
missing_priarea.groupby('poverty_level').size()

poverty_level
high poverty        6
highest poverty     5
moderate poverty    4
dtype: int64

In [131]:
missing_priarea.groupby('school_metro').size()

school_metro
rural       1
suburban    5
urban       7
dtype: int64

## primary_focus_subject

In [134]:
print(df.primary_focus_subject.unique())
print(df.primary_focus_subject.mode())

['Mathematics' 'Civics & Government' 'Literacy' 'Other' 'Social Sciences'
 'Visual Arts' 'Health & Wellness' 'Environmental Science'
 'Literature & Writing' 'Music' 'History & Geography'
 'Health & Life Science' 'Special Needs' 'ESL' 'Character Education'
 'Early Development' 'Performing Arts' 'Nutrition' 'Gym & Fitness'
 'Applied Sciences' 'College & Career Prep' 'Community Service' 'Sports'
 'Extracurricular' 'Foreign Languages' 'Economics' 'Parent Involvement'
 nan]
0    Literacy
dtype: object

In [137]:
missing_prisubj = df[df['primary_focus_subject'].isnull()]
missing_prisubj

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded,60daysafterpost,notfullyfundedin60days
27548,39015dac97318b046fc6066d4843fbaa,45872130f9143d5c12e4ab121bafef36,49b513fefb42c296194033302e4df8be,5.126600e+10,36.223348,-94.221285,Springdale,AR,urban,Springdale School District 50,...,NaN,moderate poverty,Grades 3-5,565.87,28.0,f,2013-01-14,2013-03-20,2013-03-15,1
29782,3d9c718b578c13ab98665bc8ceca1896,5f837f22c97079a8c7573b16a5c57c5a,1a0bee3831e240a05e749aa232da0c39,4.900420e+11,40.529808,-111.942230,Riverton,UT,suburban,Jordan School District,...,NaN,moderate poverty,Grades PreK-2,599.40,40.0,f,2013-01-15,2013-05-10,2013-03-16,1
46527,5fe48f3fe98a30a0ebc964649043bb75,f9dab7a2a94f4c7081530301af4285d4,8ddc7be1b2a3bfde5b219e9da7884ff2,4.702340e+11,35.433577,-87.312387,Summertown,TN,rural,Lawrence Co School District,...,NaN,high poverty,Grades 9-12,338.26,NaN,f,2013-03-24,2013-04-19,2013-05-23,0
60813,7d102e06967a6a8142734820723cfe7c,e8216f064de7a586d5ed74d359610bb9,fc05a10f8101036c52a1137d6a4df926,3.600100e+11,40.695131,-73.807249,Jamaica,NY,urban,New York City Dept Of Ed,...,NaN,highest poverty,Grades PreK-2,380.80,NaN,f,2013-03-05,2013-03-28,2013-05-04,0
70899,914e02ccf87de1f9975cde256ea47b14,314c7e3adc78f2fab8066b3641425edf,e540f61e9d98935f163a049abeaaab26,1.201440e+11,28.499796,-81.296813,Orlando,FL,suburban,Orange Co Public School Dist,...,NaN,highest poverty,Grades PreK-2,167.79,30.0,f,2013-04-10,2013-08-04,2013-06-09,1
72655,94f566dfc22a25f6a5b499de4a91f330,92846359c24cd4793279e19efba7a24e,0d15795153dab5eb94e8be5443b3da9e,6.227100e+10,33.969639,-118.287889,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,NaN,high poverty,Grades PreK-2,810.31,NaN,t,2012-01-10,2012-01-22,2012-03-10,0
73461,96924f865a656e2ce8bb1c43626daf9a,fde02e5dfa9d93292f2685bb872e53a7,5cb05949e64ce19d339596df5a11a5f6,6.338401e+10,38.562695,-121.512962,Sacramento,CA,urban,Sacramento City Unif Sch Dist,...,NaN,highest poverty,Grades PreK-2,330.14,62.0,f,2013-01-23,2013-04-24,2013-03-24,1
82462,a8b74dd99c299129dc42cb35f8e9ff8c,f4917e4c2a928a998dd955cd1fed990e,cc8873c862878fb748e355649e2cf993,4.816110e+11,29.850575,-95.595309,Houston,TX,suburban,Cypress-fairbanks Ind Sch Dist,...,NaN,high poverty,Grades PreK-2,562.87,NaN,f,2013-03-02,2013-04-15,2013-05-01,0
84083,abe6c57cd2111c00ed95e890a953e669,378bdce19fbbce60c8e35daab08e7bb9,1cc2b693b983285f9bbf80933f64482e,2.711130e+11,47.939206,-97.027874,E Grand Forks,MN,suburban,East Grand Forks Ind SD 595,...,NaN,moderate poverty,Grades PreK-2,694.20,21.0,f,2013-02-21,2013-04-05,2013-04-22,0
85492,aee270a9a86623ec7cc99ced0b289e33,2e842d31f1aa295ebedf0778d25fe5c1,98ff4e77561c5e99c709cad7da099862,3.502460e+11,34.058305,-106.898560,Socorro,NM,NaN,Socorro Cons School District,...,NaN,moderate poverty,Grades PreK-2,910.00,60.0,f,2013-04-21,2013-08-19,2013-06-20,1
88786,b5c0657f3b5c9005a284f88f5e1cde31,2024633b9d4e87d68a711b727a12a977,9aa7a77a6c226ad34416d6b359f7bc80,6.227100e+10,34.275531,-118.444410,San Fernando,CA,suburban,Los Angeles Unif Sch Dist,...,NaN,high poverty,Grades PreK-2,581.13,80.0,t,2012-02-11,2012-05-12,2012-04-11,1
105067,d7018f0ef334133b7c392bcaf6737cfb,29bd4e269db8537eaedc3efd8a56a1c4,74ea8ec7b1c0c348355fbba08e8c7e5d,1.729580e+11,38.617125,-89.055430,Odin,IL,NaN,Odin Public School Dist 722,...,NaN,high poverty,Grades 3-5,359.24,NaN,f,2013-03-09,2013-05-17,2013-05-08,1
105591,d81532f03a8d33056ba6ff414096bff4,1e1004ce3c3d71976372005c490b6b2b,af98f822fb5680981b8636d7f17b7b68,9.019200e+10,41.744835,-72.671455,Hartford,CT,urban,Hartford Public School Dist,...,NaN,highest poverty,Grades PreK-2,564.28,22.0,f,2013-03-29,2013-04-27,2013-05-28,0
108854,deae09559198fff5f023618e9c08cd8a,4771f61d8da69efc2329d9fc523fc491,087eba3c6b85fe4dd3d3fc7170ce0cef,4.901140e+11,37.143141,-113.627269,Saint George,UT,urban,Washington Co School District,...,NaN,high poverty,Grades PreK-2,255.61,22.0,t,2013-04-03,2013-05-11,2013-06-02,0
124429,fef659c119520b29e5bbf37e7895f050,7de1c896628120a06ab8e6bde5610a83,5625ce3b78ce5b8044de245107bf5434,6.227100e+10,34.271175,-118.406090,Pacoima,CA,urban,Los Angeles Unif Sch Dist,...,NaN,highest poverty,Grades 6-8,1482.34,75.0,t,2013-04-16,2013-05-02,2013-06-15,0

In [139]:
missing_prisubj.groupby('poverty_level').size()

poverty_level
high poverty        6
highest poverty     5
moderate poverty    4
dtype: int64

In [141]:
df.groupby('primary_focus_subject').agg('mean')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
primary_focus_subject,,,
Applied Sciences,921.545856,139.446677,0.257511
Character Education,797.565064,180.284126,0.257892
Civics & Government,847.597103,120.497664,0.268692
College & Career Prep,1005.180772,179.763353,0.375514
Community Service,906.852805,224.352941,0.294118
ESL,579.844458,55.802993,0.333541
Early Development,610.793415,38.287462,0.305195
Economics,756.257658,86.596741,0.232179
Environmental Science,814.008292,118.777272,0.210134
Extracurricular,687.855500,168.377083,0.291667
Foreign Languages,704.051771,172.042363,0.350780
Gym & Fitness,651.384309,373.950039,0.327088
Health & Life Science,693.800631,127.186708,0.237276
Health & Wellness,690.880200,188.573103,0.264828
History & Geography,681.095102,104.999259,0.300259
Literacy,564.644504,60.393030,0.301593
Literature & Writing,600.304655,68.975888,0.315718
Mathematics,696.929741,64.745520,0.288866
Music,694.766156,257.219537,0.221063
Nutrition,561.242895,137.247368,0.163158
Other,720.225981,119.283186,0.352681
Parent Involvement,518.078047,142.640625,0.335938
Performing Arts,806.244203,184.451517,0.240785
Social Sciences,704.225468,93.408973,0.278283
Special Needs,611.515734,32.017138,0.303905
Sports,636.259756,200.251309,0.263066
Visual Arts,634.307618,205.736492,0.240204

In [143]:
df.groupby('primary_focus_subject').agg('median')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
primary_focus_subject,,,
Applied Sciences,580.090,100.0,0
Character Education,505.780,40.0,0
Civics & Government,527.050,60.0,0
College & Career Prep,652.340,95.0,0
Community Service,516.290,100.0,0
ESL,504.140,32.0,0
Early Development,518.980,24.0,0
Economics,585.260,30.0,0
Environmental Science,535.130,60.0,0
Extracurricular,477.895,50.0,0
Foreign Languages,522.810,140.0,0
Gym & Fitness,537.440,300.0,0
Health & Life Science,532.340,84.0,0
Health & Wellness,502.720,50.0,0
History & Geography,509.510,90.0,0
Literacy,484.065,25.0,0
Literature & Writing,500.220,31.0,0
Mathematics,534.150,30.0,0
Music,511.590,150.0,0
Nutrition,507.290,44.5,0
Other,511.420,30.0,0
Parent Involvement,449.620,25.0,0
Performing Arts,546.905,100.0,0
Social Sciences,508.015,50.0,0
Special Needs,513.510,17.0,0
Sports,536.890,70.0,0
Visual Arts,504.990,100.0,0

In [142]:
missing_prisubj.describe()[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
count,15.000000,10.000000,15.000000
mean,573.482667,44.000000,0.466667
std,324.489968,23.098822,0.516398
min,167.790000,21.000000,0.000000
25%,348.750000,23.500000,0.000000
50%,564.280000,35.000000,0.000000
75%,646.800000,61.500000,1.000000
max,1482.340000,80.000000,1.000000

## secondary_focus_area

In [135]:
print(df.secondary_focus_area.unique())
print(df.secondary_focus_area.mode())

['Music & The Arts' 'Literacy & Language' 'History & Civics' nan
 'Health & Sports' 'Math & Science' 'Special Needs' 'Applied Learning']
0    Literacy & Language
dtype: object

In [144]:
missing_secarea = df[df['secondary_focus_area'].isnull()]
missing_secarea

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded,60daysafterpost,notfullyfundedin60days
3,0001f2d0b3827bba67cdbeaa248b832d,15d900805d9d716c051c671827109f45,8bea7e8c6e4279fca6276128db89292e,3.600090e+11,40.687286,-73.988217,Brooklyn,NY,urban,New York City Dept Of Ed,...,Books,high poverty,Grades PreK-2,175.33,23.0,f,2012-10-11,2012-12-05,2012-12-10,0
5,00049ec8ca1f2d08cb13cab31b0b85ec,7149611553c700de9a6099f8a9ce598b,462a5fd93cf9fb5d41eecfd2ea860b19,2.621150e+11,42.740157,-84.525821,Lansing,MI,urban,Lansing School District,...,Other,highest poverty,Grades 3-5,475.85,15.0,f,2012-11-30,2013-02-26,2013-01-29,1
6,0004d2fdbb571237fa53a97e7691440b,926671e209fb977bd5123145c1848ad1,1a994778027ab086dc58ec3b47f74ff0,4.047200e+10,33.059361,-112.037727,Maricopa,AZ,rural,Maricopa Unif Sch District 20,...,Supplies,high poverty,Grades 3-5,390.65,37.0,f,2013-03-26,2013-04-17,2013-05-25,0
7,0004ee26667e751dd51384eb9f30c72e,abe4dabb7864f4c548d230cf9070e03f,8409f70bcd81bc06e4b9efca68eed8f6,6.280501e+10,37.761958,-122.193209,Oakland,CA,urban,Oakland Unified School Dist,...,Books,highest poverty,Grades 9-12,3877.20,30.0,f,2013-02-28,2013-03-10,2013-04-29,0
8,0006a31d45f8d52d217e7c5b55c11f37,3b5fada1ad0e339acc669829071320c4,c6a033f9349ea70659c1891b119680ed,2.307320e+11,44.096641,-70.191734,Lewiston,ME,urban,Lewiston Public Schools,...,Technology,high poverty,Grades 3-5,838.75,25.0,f,2013-08-21,2013-09-13,2013-10-20,0
11,000a6dcbb21ec643daf74ed28991d29c,93e0a37fca3cd7c9c32a535673c48af4,7e28905e0126e37d9b747e92c5fcf44d,2.926850e+11,38.535275,-90.464493,Fenton,MO,suburban,Rockwood School District R6,...,Other,moderate poverty,Grades 3-5,714.22,25.0,f,2013-06-22,2013-10-17,2013-08-21,1
12,000a981e6bd61c489bbebc237f7b6a0d,a886a532c21f83b0c30571208636dc0e,c995de8108ac314637e1c869f81af766,1.709930e+11,41.922711,-87.692965,Chicago,IL,urban,Fullerton Elem Network,...,Supplies,highest poverty,Grades PreK-2,523.27,700.0,f,2013-01-22,2013-02-28,2013-03-23,0
14,000b574223b4f491c7de7bccae88b51d,5003eacb7e6311d01177c275c633768a,87e515cc802d93213adfb963ef8de30e,3.600090e+11,40.813916,-73.900522,Bronx,NY,urban,New York City Dept Of Ed,...,Books,highest poverty,Grades PreK-2,677.73,24.0,t,2013-05-28,2013-09-06,2013-07-27,1
17,000d3ead6b648ba31043bb6376e6342d,3dd9af5310c77541f5b65cf190cec338,8018b1c81de3aede5363afabcf32b17c,4.088000e+10,32.228378,-110.963287,Tucson,AZ,urban,Tucson Unified School Dist,...,Other,high poverty,Grades PreK-2,265.13,53.0,f,2013-01-15,2013-03-11,2013-03-16,0
18,000e6a13fd69bf0e426403b1d5da0e99,1ad348085983de6a0f1fe6a37779f7f2,82571bc4db2e4cd846e3c50eeceeb176,6.227100e+10,34.182137,-118.424728,Van Nuys,CA,urban,Los Angeles Unif Sch Dist,...,Books,highest poverty,Grades 3-5,296.68,30.0,t,2012-01-23,2012-02-20,2012-03-23,0
20,000faa31e276e9e649360949207fa00c,86403b5f04ed07201cd04184ff4c0ced,c86d87fee34b13377658337fa8bf2fc5,2.931440e+11,38.367966,-92.477882,Ft Leonard Wd,MO,NaN,Waynesville School Dist R6,...,Technology,high poverty,Grades 3-5,632.13,25.0,f,2012-12-18,2013-01-06,2013-02-16,0
21,0010040593d5e9699ee45834369ec817,1871e44279646e8d18fa74d29dcfc456,83b74057d63f2da28f3635efeffd61a1,1.707650e+11,40.456921,-88.137198,Paxton,IL,NaN,Paxton-buckley-loda Cusd 10,...,Supplies,moderate poverty,Grades 9-12,221.56,100.0,t,2013-09-04,2013-10-27,2013-11-03,0
22,00103b0614e31016e5c4cc7d405bbc51,9e4433fb2d3078bc4dcbe2860d05ebf5,b22babfd8fbdfa6b53e4747b74da02dd,4.835850e+11,33.183766,-96.494366,Princeton,TX,NaN,Princeton Ind School Dist,...,Supplies,highest poverty,Grades 3-5,1125.40,660.0,f,2013-12-10,2014-04-02,2014-02-08,1
24,001096473792e89ccc83e9f6ab01871b,e21c4208e61018ed35aa2bcc392a2d40,7fdffcfd5bea8e0fc99952254a875a72,1.200870e+11,28.155807,-82.532195,Lutz,FL,suburban,Hillsborough Co Pub Sch Dist,...,Technology,low poverty,Grades PreK-2,715.67,17.0,f,2013-11-19,2013-12-19,2014-01-18,0
25,00134d14226ef613134712c54211f754,5bce35e3991721b665d33095e9d3aa31,9b62c64683b7c3212f159e13eb41ff5c,1.812720e+11,39.920792,-86.142952,Indianapolis,IN,urban,Washington Township Sch Dist,...,Books,highest poverty,Grades PreK-2,518.22,27.0,f,2012-03-31,2012-07-27,2012-05-30,1
26,00136585c0e4a67afaa964403cf9f45b,402cfc6b73dc62f44946bc1c381f6b1c,0793efaeba83d8b5b9d55f5772fac62d,NaN,35.906952,-77.540756,Tarboro,NC,rural,North Carolina Dept of Ed,...,Books,high poverty,Grades 6-8,350.69,50.0,f,2012-05-30,2012-08-05,2012-07-29,1
27,0013a402fb4cf84e3d60d7a59566dff8,511ec2a1372cd7b9e1af86b1b3de8bff,dbde53d7dbafbbb22ca60f36bb0019a5,6.227101e+10,34.227558,-118.499130,North Hills,CA,urban,Los Angeles Unif Sch Dist,...,Technology,highest poverty,Grades 3-5,836.34,29.0,f,2012-01-21,2012-03-01,2012-03-21,0
31,001559b336496f731ebfb8a6a73338cd,1f0cf50590c37a9793e3d3051ba7f183,be721b1c3f2182f5463e1f47478088ce,4.503630e+11,34.988880,-81.971687,Spartanburg,SC,suburban,Spartanburg School District 6,...,Books,high poverty,Grades 3-5,248.46,23.0,f,2013-12-25,2014-04-11,2014-02-23,1
34,00176778e93d54ed26f601f7a0af4b35,ed42221561b7b74d34dce3fe6a1aea84,eb885383099e30fbd288aa89d1f7abcd,3.904380e+11,39.735485,-84.279785,Dayton,OH,urban,Dayton Public School District,...,Books,highest poverty,Grades 6-8,418.55,160.0,f,2012-05-24,2012-06-03,2012-07-23,0
36,001964cf64fb718045116ebe6b933d22,76907330dc134fb5b17c62b4ce5ec50f,a842beac0f3380f6995670c62ee715f2,2.706240e+11,45.062137,-93.298995,Brooklyn Ctr,MN,suburban,Brooklyn Center Ind SD 286,...,Other,highest poverty,Grades PreK-2,562.06,85.0,f,2013-10-27,2013-11-18,2013-12-26,0
37,00199bf192b852aa21573c69ed14565e,b6ac98079d8abaefa5353d15d708da9a,8292243f3bf78ff903697cf2ac0fea1a,3.600080e+11,40.765168,-73.992554,New York,NY,urban,New York City Dept Of Ed,...,Books,highest poverty,Grades 9-12,623.73,65.0,f,2012-02-11,2012-03-28,2012-04-11,0
43,001e0e01ece65e4b2c3c1d2c57f0cea8,24d7b866a900c8da8af849ee24ee19be,9502169af12fbfc1a165b763aab151ac,2.919980e+11,37.111242,-92.583160,Mansfield,MO,rural,Mansfield School District R4,...,Technology,highest poverty,Grades 9-12,388.22,400.0,t,2013-08-08,2013-09-25,2013-10-07,0
47,001f780694807f8c9d7e1748491166f5,159a890d6a756620e3be7798b4a03019,44baa6dbc2f62d765f7313d55f1e9e23,4.702370e+11,36.225002,-86.285944,Lebanon,TN,NaN,Lebanon Special School Dist,...,Other,highest poverty,Grades PreK-2,595.34,45.0,f,2012-10-22,2012-11-14,2012-12-21,0
48,0021d9d42fb63977604423ebf9c63f8a,4c14556670c6c602a862be381c32ea10,bef4df0b622c13aa6b716ec0886a4f4e,4.841220e+11,29.982979,-95.481216,Houston,TX,suburban,Spring Ind School District,...,Technology,highest poverty,Grades 3-5,849.44,38.0,f,2012-11-21,2013-03-16,2013-01-20,1
50,00224ec566ee6c3cd12d0969b5b2c784,8ba87429a03ca3730eda069bc2d7883f,a4114506f9491fc0ce6d2d93b1fa963b,4.823640e+11,29.637698,-95.332997,Houston,TX,urban,Houston Ind School District,...,Technology,high poverty,Grades 6-8,467.33,60.0,f,2012-10-29,2013-02-24,2012-12-28,1
51,00234331fb068ced6c084da0e11cd439,dc7a06eab77831674de2170c141bfd3d,22429fcb84b992caa8b1702270ff96d6,6.180600e+10,33.714350,-118.000241,Huntingtn Bch,CA,suburban,Huntington Beach Union Hs Dist,...,Supplies,high poverty,Grades 9-12,354.82,200.0,t,2012-09-02,2012-09-20,2012-11-01,0
52,00239094b2720ccbd7a456a3c962f03b,3eefa78da686c025a241eb19c7c5023a,b681ca2b7e6e4772b8cd0aa608e68945,1.803750e+11,39.668243,-86.050568,Indianapolis,IN,urban,Franklin Twp Cmty School Corp,...,Supplies,moderate poverty,Grades 3-5,576.08,100.0,f,2012-05-19,2012-08-22,2012-07-18,1
56,0024d5a2652ebf199fc0cfaf7898cfaf,ccd576f82a5578bef3bf276ea819d214,d0f9173ad132f22e60aadbe92b43260f,1.802160e+11,40.251834,-86.590537,Frankfort,IN,rural,Clinton Prairie Sch Corp,...,Supplies,moderate poverty,Grades 9-12,446.53,24.0,f,2013-04-14,2013-05-05,2013-06-13,0
57,0024decf6a1c35c3ebf923f06ac4b580,464b9e5814a42b0d670a3ed05fca0cc0,8542596881b68ac6ad3e09da721a3114,9.029100e+10,41.412549,-73.272388,Sandy Hook,CT,NaN,Newtown Public Schools,...,Other,low poverty,Grades 9-12,1965.62,999.0,f,2013-05-25,2013-07-08,2013-07-24,0
61,00253a9de723379d8b86d5b08b7d46ff,f6e49c926016f27a5e75d4229125b660,096411dd0bd5fa35980e0382f8cb5f3d,2.804080e+11,31.148111,-90.462524,Magnolia,MS,rural,South Pike School District,...,Technology,highest poverty,Grades 6-8,796.14,130.0,f,2012-01-13,2012-03-31,2012-03-13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124906,ffe0b8d9e8461ffdeb00ece519cd3098,9f7ddbdfe0d5bcde848ef4e013a4ebdf,3662aa2e3ca04ead26502d8b57fe613c,NaN,40.714675,-74.223553,Newark,NJ,urban,Newark Public School District,...,Books,highest poverty,Grades PreK-2,559.46,30.0,f,2012-04-12,2012-06-03,2012-06-11,0
124910,ffe324f6ecea065d9ad369b3b5286e94,bc83b5ea7c5493d6689a887e1c4aa3d6,2b34475b3993a719e7374298baa62516,2.601980e+11,42.060890,-83.272537,S Rockwood,MI,rural,Airport Cmty School District,...,Supplies,high poverty,Grades PreK-2,373.93,26.0,f,2013-08-03,2013-11-12,2013-10-02,1
124913,ffe3707f4bcf052304c913ff449e87cf,7e4524d0caece7d72833fae5ff6d98ad,51dea8249261ea7b0e851d9123180fcb,4.900720e+11,41.204418,-111.948425,Ogden,UT,urban,Ogden City School District,...,Books,highest poverty,Grades 6-8,259.33,100.0,f,2013-08-25,2013-09-28,2013-10-24,0
124918,ffe4ac2fba42a458efb581899d92f6bf,d39dad717d565146583340f0d7c46618,bbb1106f76de0a616ef6df3acf6699b3,3.701500e+11,36.102303,-80.265221,Winston Salem,NC,urban,Winston-salem Forsyth Co SD,...,Supplies,high poverty,Grades 9-12,1140.47,200.0,f,2013-07-05,2013-09-27,2013-09-03,1
124919,ffe4b9e23c476521ba63568dc41afc3f,11b55aaee5ef6f15fb078044ace318a9,e3156e8746dcf227fb9aea2686f52419,1.709930e+11,41.862602,-87.659437,Chicago,IL,urban,Chicago Psd-Area 52/53,...,Technology,highest poverty,Grades 9-12,515.78,150.0,t,2013-02-24,2013-03-20,2013-04-25,0
124921,ffe5521afd0bc45ad5c560d6e6d300ab,bb49c0014abf5208dc6e01ba344b1c91,2fd65662f6d63c1db87c3073cbc4abf7,4.808940e+11,30.195080,-97.787300,Austin,TX,urban,Austin Ind School District,...,Books,highest poverty,Grades 6-8,159.62,75.0,f,2013-01-14,2013-02-05,2013-03-15,0
124925,ffe64193ea9a993cb0800a5e0a51554d,a5d43e73d6029d22cf4dbc124f2ca2a8,b1dd17100a150b096d5eabb8d2a2ef4d,3.417280e+11,40.937197,-74.220185,Wayne,NJ,suburban,Wayne Twp Public Schools,...,Supplies,low poverty,Grades PreK-2,214.33,35.0,t,2012-09-02,2012-10-13,2012-11-01,0
124926,ffe73da73761ef44f33317375c3f0bc3,50623db55d56d04c4e883751608d6dc2,06e5ee9db5c7ccc477bc487c803556d8,2.011490e+11,39.114796,-95.615753,Topeka,KS,suburban,Seaman Unified Sch Dist 345,...,Technology,moderate poverty,Grades 3-5,438.40,305.0,f,2012-02-19,2012-06-18,2012-04-19,1
124927,ffe73e3028afc456ae03be5bce3ec6c0,ca441820f91dd6c53dee4eb0277eeb6f,a9e47f6b401e5dbcb1df53b01b61a08d,3.600090e+11,40.854983,-73.903357,Bronx,NY,urban,New York City Dept Of Ed,...,Technology,highest poverty,Grades PreK-2,228.53,22.0,f,2012-01-16,2012-05-03,2012-03-16,1
124930,ffe8f2e374b17177a5e30854e86c5d38,8a3fc26f1412df916bf5ed66ed4aa055,ba25df8032b3fec5b1ac260333087966,6.339301e+10,36.700132,-121.657760,Salinas,CA,urban,Salinas City Elem Sch District,...,Supplies,highest poverty,Grades PreK-2,333.09,30.0,f,2013-12-27,2014-01-08,2014-02-25,0
124931,ffea3f7012ad1cb0076ee9646c4f15d0,3ce6ed25c690943a78332a3b17ae4058,ac4609d713b23f392bbeb8a359b4b36e,2.400480e+11,39.039642,-77.077049,Kensington,MD,suburban,Montgomery Co Public Schools,...,Supplies,high poverty,Grades 3-5,179.92,45.0,f,2012-02-10,2012-03-15,2012-04-10,0
124932,ffea6e56af02a975c6ed0088bffe737e,e9962d868d2a9c0c09e00099edbf0a0e,bcf44ac9d80a92263095ecaabc58e978,1.804770e+11,39.775349,-86.121971,Indianapolis,IN,urban,Indianapolis Public Sch Dist,...,Technology,highest poverty,Grades PreK-2,1004.68,8.0,t,2013-02-16,2013-03-05,2013-04-17,0
124934,ffeb077684f13aecde54fd478c9af82c,c15b56e8ac5d89719fb1c8d81230d57e,64bef34cc05b8c21ab97f06147c025f6,2.929280e+11,38.622822,-90.227539,Saint Louis,MO,urban,St Louis City Public Sch Dist,...,Supplies,highest poverty,Grades 6-8,161.54,100.0,f,2012-12-10,2013-01-20,2013-02-08,0
124944,ffef78dbb652d259080de65924bf2bd5,9c6586329673dce68c001cec27108b95,e08b0570e5a4269f09b06f0e67cac592,5.300300e+11,47.288389,-122.181423,Auburn,WA,urban,Auburn School District 408,...,Supplies,high poverty,Grades 3-5,203.54,30.0,t,2013-07-18,2013-09-05,2013-09-16,0
124946,fff008ba1051b272f9e5218b1c125169,4999b5d89891ff2279c63e8f529f00ea,8803e5495d05529e09083007ac95f58b,4.808090e+11,29.434906,-95.254405,Alvin,TX,suburban,Alvin Ind School District,...,Books,highest poverty,Grades PreK-2,957.15,40.0,f,2012-12-09,2012-12-22,2013-02-07,0
124947,fff025ce2682430f72e02a7823c1c27b,67f274a673108b021563e4fb172371ea,cccabd230f51c6c97850f093cec4ee08,4.900900e+11,36.998209,-110.175732,Monument Vly,UT,rural,San Juan School District,...,Technology,highest poverty,Grades PreK-2,163.68,14.0,f,2013-12-06,2013-12-19,2014-02-04,0
124949,fff17ba5f8954c060395735b111edb96,490d0b530daeed042a70a2acc2be1dc7,06c41c32c946457e8545b81dca1ce5c8,3.701920e+11,36.047957,-79.989043,High Point,NC,urban,Guilford Co School District,...,Supplies,moderate poverty,Grades 6-8,223.61,14.0,f,2012-10-15,2012-12-21,2012-12-14,1
124954,fff2f8b3170013ecf9ee7304c7b0d6d7,d728647826402b266ae8dc0d40914ebd,f3315fbcad5794f7ae6c4f848e488c8c,NaN,40.059349,-82.968307,Columbus,OH,urban,Ohio Department of Education,...,Supplies,high poverty,Grades PreK-2,178.41,20.0,f,2012-10-14,2012-11-20,2012-12-13,0
124955,fff309b22dacd7a37db9cb9ccee1e031,15969f9fd415e45316f5df1e4f6f7114,b25832137d33953fdfbd74616cf1dc94,3.702970e+11,35.107920,-80.886379,Pineville,NC,NaN,Charlotte-mecklenburg Sch Dist,...,Supplies,highest poverty,Grades PreK-2,292.01,19.0,f,2012-09-05,2012-10-12,2012-11-04,0
124956,fff3183fb122c03321ce10b81fda2f55,afdfef895e4033893531858b3b7b93e4,413160e89bb3924066db49f015d12e6a,1.812810e+11,39.770969,-86.276016,Indianapolis,IN,urban,Msd Of Wayne Twp,...,Supplies,highest poverty,Grades 3-5,289.45,700.0,t,2012-10-14,2012-11-20,2012-12-13,0
124957,fff427a481a6ae0da7c79ee3a568a25d,2f4d0c10a6c3b90c1cdf700c1d1e8783,c7ee71e78a89b4537735625abe3df9e2,6.227101e+10,34.039135,-118.211122,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Books,highest poverty,Grades 9-12,859.99,60.0,t,2012-01-28,2012-03-05,2012-03-28,0
124958,fff43d73c89c9c0fa3455f71f36846af,c3892f47501ebe7560bb47f044cb6c1a,ab38fb6eeb133c593bca3bd17060dfff,6.227101e+10,34.029933,-118.435195,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Technology,highest poverty,Grades 9-12,560.99,120.0,t,2012-10-02,2012-10-25,2012-12-01,0
124960,fff50452c8b57fabd715d5547997d659,a3b0edce360c46d821f3f949c37e0760,47266028aed99d00ce97ee299c89f0bb,6.227101e+10,34.200943,-118.530552,Reseda,CA,urban,Los Angeles Unif Sch Dist,...,Technology,highest poverty,Grades 9-12,757.47,40.0,t,2012-08-28,2012-09-05,2012-10-27,0
124961,fff5d11155a3d8e8c56a41fb2e79912c,442cff1ac9ba42e5dfcbbe3d924f4c07,f2e2d501f9ee2a961d1485e02019d148,5.509600e+11,43.125865,-87.955918,Milwaukee,WI,urban,Milwaukee Public Schools,...,Supplies,highest poverty,Grades PreK-2,191.18,18.0,t,2012-08-12,2012-09-06,2012-10-11,0
124966,fffb88aa251449f1ba0b31d5552426b0,68a125f470e30903664d0e70e406d2b7,12629360afe5266b7e171f3cf57af5ec,6.344101e+10,37.725403,-122.430496,San Francisco,CA,urban,San Francisco Unified Sch Dist,...,Supplies,highest poverty,Grades 3-5,1018.24,510.0,f,2012-02-17,2012-04-12,2012-04-17,0
124967,fffbc23d5c2ece64168af350ab9f6cad,4f23071c37c4aa0a96ea4ff336138c61,df83213f7800d05086a121ab1730b545,6.306601e+10,33.885330,-117.761117,Yorba Linda,CA,suburban,Placentia Yorba Linda Usd,...,Technology,low poverty,Grades 6-8,1003.81,738.0,f,2013-10-13,2014-01-16,2013-12-12,1
124968,fffc3632fd681fde1113eae31ca027d4,f52c695357488ae6e499cae04eb28802,3bca24ea3f5077ad0d0b86d979b3a6cf,4.807710e+11,29.909552,-95.360931,Houston,TX,suburban,Aldine Ind School District,...,Books,highest poverty,Grades PreK-2,331.56,24.0,f,2012-10-31,2013-01-05,2012-12-30,1
124970,fffcab52aff6aec5843afafe919d4a06,64ec2ab31709511cce9d4b344eed4ef0,ce225b42cd7d04da6fc8d47815dce5fc,5.100270e+11,38.838849,-77.097328,Arlington,VA,urban,Arlington Public Schools,...,Books,high poverty,Grades PreK-2,717.96,24.0,f,2013-02-10,2013-06-10,2013-04-11,1
124973,fffe0bb8af3b9cd93046b49653cc923a,820b80005bdffb74fe85e4deb11c5a07,bb477994115ad6275e95623e927c040e,3.416290e+11,40.231834,-74.777481,Trenton,NJ,urban,Trenton School District,...,Books,highest poverty,Grades 3-5,184.05,20.0,f,2012-09-02,2012-10-17,2012-11-01,0
124975,fffeebf4827d745aa36b17c2d38d1966,96c1a33b4f2b832595c3c6a01bc24c05,7bb6b1924a7bd181ab5568b062260966,6.346201e+10,38.654224,-121.308122,Fair Oaks,CA,suburban,San Juan Unified School Dist,...,Other,highest poverty,Grades 6-8,938.00,11.0,f,2012-12-01,2013-01-17,2013-01-30,0

In [149]:
missing_secarea.describe()[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
count,40556.000000,40529.000000,40556.000000
mean,624.862056,102.709073,0.280748
std,1346.241363,178.832237,0.449370
min,99.080000,1.000000,0.000000
25%,324.040000,23.000000,0.000000
50%,488.420000,35.000000,0.000000
75%,699.767500,115.000000,1.000000
max,164382.840000,12143.000000,1.000000

In [150]:
df.groupby('secondary_focus_area').agg('mean')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
secondary_focus_area,,,
Applied Learning,667.071226,107.344234,0.306002
Health & Sports,690.166240,232.147939,0.278923
History & Civics,664.823169,93.020803,0.279900
Literacy & Language,611.644197,70.471654,0.303068
Math & Science,747.113654,76.775549,0.289683
Music & The Arts,709.473016,169.025853,0.238842
Special Needs,606.687874,77.634516,0.284263

In [152]:
df.groupby('secondary_focus_area').agg('median')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
secondary_focus_area,,,
Applied Learning,512.290,30.0,0
Health & Sports,521.845,100.0,0
History & Civics,509.050,50.0,0
Literacy & Language,505.780,30.0,0
Math & Science,559.940,30.0,0
Music & The Arts,512.930,65.0,0
Special Needs,497.450,28.0,0

## secondary_focus_subject

In [136]:
print(df.secondary_focus_subject.unique())
print(df.secondary_focus_subject.mode())

['Visual Arts' 'Literature & Writing' 'Social Sciences' nan 'Literacy'
 'Gym & Fitness' 'Health & Life Science' 'Mathematics' 'Special Needs'
 'Early Development' 'ESL' 'Performing Arts' 'Environmental Science'
 'Health & Wellness' 'Parent Involvement' 'Applied Sciences'
 'College & Career Prep' 'Community Service' 'Character Education'
 'Nutrition' 'Foreign Languages' 'History & Geography' 'Music'
 'Extracurricular' 'Civics & Government' 'Other' 'Sports' 'Economics']
0    Literacy
dtype: object

In [146]:
missing_secsubj = df[df['secondary_focus_subject'].isnull()]
missing_secsubj

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded,60daysafterpost,notfullyfundedin60days
3,0001f2d0b3827bba67cdbeaa248b832d,15d900805d9d716c051c671827109f45,8bea7e8c6e4279fca6276128db89292e,3.600090e+11,40.687286,-73.988217,Brooklyn,NY,urban,New York City Dept Of Ed,...,Books,high poverty,Grades PreK-2,175.33,23.0,f,2012-10-11,2012-12-05,2012-12-10,0
5,00049ec8ca1f2d08cb13cab31b0b85ec,7149611553c700de9a6099f8a9ce598b,462a5fd93cf9fb5d41eecfd2ea860b19,2.621150e+11,42.740157,-84.525821,Lansing,MI,urban,Lansing School District,...,Other,highest poverty,Grades 3-5,475.85,15.0,f,2012-11-30,2013-02-26,2013-01-29,1
6,0004d2fdbb571237fa53a97e7691440b,926671e209fb977bd5123145c1848ad1,1a994778027ab086dc58ec3b47f74ff0,4.047200e+10,33.059361,-112.037727,Maricopa,AZ,rural,Maricopa Unif Sch District 20,...,Supplies,high poverty,Grades 3-5,390.65,37.0,f,2013-03-26,2013-04-17,2013-05-25,0
7,0004ee26667e751dd51384eb9f30c72e,abe4dabb7864f4c548d230cf9070e03f,8409f70bcd81bc06e4b9efca68eed8f6,6.280501e+10,37.761958,-122.193209,Oakland,CA,urban,Oakland Unified School Dist,...,Books,highest poverty,Grades 9-12,3877.20,30.0,f,2013-02-28,2013-03-10,2013-04-29,0
8,0006a31d45f8d52d217e7c5b55c11f37,3b5fada1ad0e339acc669829071320c4,c6a033f9349ea70659c1891b119680ed,2.307320e+11,44.096641,-70.191734,Lewiston,ME,urban,Lewiston Public Schools,...,Technology,high poverty,Grades 3-5,838.75,25.0,f,2013-08-21,2013-09-13,2013-10-20,0
11,000a6dcbb21ec643daf74ed28991d29c,93e0a37fca3cd7c9c32a535673c48af4,7e28905e0126e37d9b747e92c5fcf44d,2.926850e+11,38.535275,-90.464493,Fenton,MO,suburban,Rockwood School District R6,...,Other,moderate poverty,Grades 3-5,714.22,25.0,f,2013-06-22,2013-10-17,2013-08-21,1
12,000a981e6bd61c489bbebc237f7b6a0d,a886a532c21f83b0c30571208636dc0e,c995de8108ac314637e1c869f81af766,1.709930e+11,41.922711,-87.692965,Chicago,IL,urban,Fullerton Elem Network,...,Supplies,highest poverty,Grades PreK-2,523.27,700.0,f,2013-01-22,2013-02-28,2013-03-23,0
14,000b574223b4f491c7de7bccae88b51d,5003eacb7e6311d01177c275c633768a,87e515cc802d93213adfb963ef8de30e,3.600090e+11,40.813916,-73.900522,Bronx,NY,urban,New York City Dept Of Ed,...,Books,highest poverty,Grades PreK-2,677.73,24.0,t,2013-05-28,2013-09-06,2013-07-27,1
17,000d3ead6b648ba31043bb6376e6342d,3dd9af5310c77541f5b65cf190cec338,8018b1c81de3aede5363afabcf32b17c,4.088000e+10,32.228378,-110.963287,Tucson,AZ,urban,Tucson Unified School Dist,...,Other,high poverty,Grades PreK-2,265.13,53.0,f,2013-01-15,2013-03-11,2013-03-16,0
18,000e6a13fd69bf0e426403b1d5da0e99,1ad348085983de6a0f1fe6a37779f7f2,82571bc4db2e4cd846e3c50eeceeb176,6.227100e+10,34.182137,-118.424728,Van Nuys,CA,urban,Los Angeles Unif Sch Dist,...,Books,highest poverty,Grades 3-5,296.68,30.0,t,2012-01-23,2012-02-20,2012-03-23,0
20,000faa31e276e9e649360949207fa00c,86403b5f04ed07201cd04184ff4c0ced,c86d87fee34b13377658337fa8bf2fc5,2.931440e+11,38.367966,-92.477882,Ft Leonard Wd,MO,NaN,Waynesville School Dist R6,...,Technology,high poverty,Grades 3-5,632.13,25.0,f,2012-12-18,2013-01-06,2013-02-16,0
21,0010040593d5e9699ee45834369ec817,1871e44279646e8d18fa74d29dcfc456,83b74057d63f2da28f3635efeffd61a1,1.707650e+11,40.456921,-88.137198,Paxton,IL,NaN,Paxton-buckley-loda Cusd 10,...,Supplies,moderate poverty,Grades 9-12,221.56,100.0,t,2013-09-04,2013-10-27,2013-11-03,0
22,00103b0614e31016e5c4cc7d405bbc51,9e4433fb2d3078bc4dcbe2860d05ebf5,b22babfd8fbdfa6b53e4747b74da02dd,4.835850e+11,33.183766,-96.494366,Princeton,TX,NaN,Princeton Ind School Dist,...,Supplies,highest poverty,Grades 3-5,1125.40,660.0,f,2013-12-10,2014-04-02,2014-02-08,1
24,001096473792e89ccc83e9f6ab01871b,e21c4208e61018ed35aa2bcc392a2d40,7fdffcfd5bea8e0fc99952254a875a72,1.200870e+11,28.155807,-82.532195,Lutz,FL,suburban,Hillsborough Co Pub Sch Dist,...,Technology,low poverty,Grades PreK-2,715.67,17.0,f,2013-11-19,2013-12-19,2014-01-18,0
25,00134d14226ef613134712c54211f754,5bce35e3991721b665d33095e9d3aa31,9b62c64683b7c3212f159e13eb41ff5c,1.812720e+11,39.920792,-86.142952,Indianapolis,IN,urban,Washington Township Sch Dist,...,Books,highest poverty,Grades PreK-2,518.22,27.0,f,2012-03-31,2012-07-27,2012-05-30,1
26,00136585c0e4a67afaa964403cf9f45b,402cfc6b73dc62f44946bc1c381f6b1c,0793efaeba83d8b5b9d55f5772fac62d,NaN,35.906952,-77.540756,Tarboro,NC,rural,North Carolina Dept of Ed,...,Books,high poverty,Grades 6-8,350.69,50.0,f,2012-05-30,2012-08-05,2012-07-29,1
27,0013a402fb4cf84e3d60d7a59566dff8,511ec2a1372cd7b9e1af86b1b3de8bff,dbde53d7dbafbbb22ca60f36bb0019a5,6.227101e+10,34.227558,-118.499130,North Hills,CA,urban,Los Angeles Unif Sch Dist,...,Technology,highest poverty,Grades 3-5,836.34,29.0,f,2012-01-21,2012-03-01,2012-03-21,0
31,001559b336496f731ebfb8a6a73338cd,1f0cf50590c37a9793e3d3051ba7f183,be721b1c3f2182f5463e1f47478088ce,4.503630e+11,34.988880,-81.971687,Spartanburg,SC,suburban,Spartanburg School District 6,...,Books,high poverty,Grades 3-5,248.46,23.0,f,2013-12-25,2014-04-11,2014-02-23,1
34,00176778e93d54ed26f601f7a0af4b35,ed42221561b7b74d34dce3fe6a1aea84,eb885383099e30fbd288aa89d1f7abcd,3.904380e+11,39.735485,-84.279785,Dayton,OH,urban,Dayton Public School District,...,Books,highest poverty,Grades 6-8,418.55,160.0,f,2012-05-24,2012-06-03,2012-07-23,0
36,001964cf64fb718045116ebe6b933d22,76907330dc134fb5b17c62b4ce5ec50f,a842beac0f3380f6995670c62ee715f2,2.706240e+11,45.062137,-93.298995,Brooklyn Ctr,MN,suburban,Brooklyn Center Ind SD 286,...,Other,highest poverty,Grades PreK-2,562.06,85.0,f,2013-10-27,2013-11-18,2013-12-26,0
37,00199bf192b852aa21573c69ed14565e,b6ac98079d8abaefa5353d15d708da9a,8292243f3bf78ff903697cf2ac0fea1a,3.600080e+11,40.765168,-73.992554,New York,NY,urban,New York City Dept Of Ed,...,Books,highest poverty,Grades 9-12,623.73,65.0,f,2012-02-11,2012-03-28,2012-04-11,0
43,001e0e01ece65e4b2c3c1d2c57f0cea8,24d7b866a900c8da8af849ee24ee19be,9502169af12fbfc1a165b763aab151ac,2.919980e+11,37.111242,-92.583160,Mansfield,MO,rural,Mansfield School District R4,...,Technology,highest poverty,Grades 9-12,388.22,400.0,t,2013-08-08,2013-09-25,2013-10-07,0
47,001f780694807f8c9d7e1748491166f5,159a890d6a756620e3be7798b4a03019,44baa6dbc2f62d765f7313d55f1e9e23,4.702370e+11,36.225002,-86.285944,Lebanon,TN,NaN,Lebanon Special School Dist,...,Other,highest poverty,Grades PreK-2,595.34,45.0,f,2012-10-22,2012-11-14,2012-12-21,0
48,0021d9d42fb63977604423ebf9c63f8a,4c14556670c6c602a862be381c32ea10,bef4df0b622c13aa6b716ec0886a4f4e,4.841220e+11,29.982979,-95.481216,Houston,TX,suburban,Spring Ind School District,...,Technology,highest poverty,Grades 3-5,849.44,38.0,f,2012-11-21,2013-03-16,2013-01-20,1
50,00224ec566ee6c3cd12d0969b5b2c784,8ba87429a03ca3730eda069bc2d7883f,a4114506f9491fc0ce6d2d93b1fa963b,4.823640e+11,29.637698,-95.332997,Houston,TX,urban,Houston Ind School District,...,Technology,high poverty,Grades 6-8,467.33,60.0,f,2012-10-29,2013-02-24,2012-12-28,1
51,00234331fb068ced6c084da0e11cd439,dc7a06eab77831674de2170c141bfd3d,22429fcb84b992caa8b1702270ff96d6,6.180600e+10,33.714350,-118.000241,Huntingtn Bch,CA,suburban,Huntington Beach Union Hs Dist,...,Supplies,high poverty,Grades 9-12,354.82,200.0,t,2012-09-02,2012-09-20,2012-11-01,0
52,00239094b2720ccbd7a456a3c962f03b,3eefa78da686c025a241eb19c7c5023a,b681ca2b7e6e4772b8cd0aa608e68945,1.803750e+11,39.668243,-86.050568,Indianapolis,IN,urban,Franklin Twp Cmty School Corp,...,Supplies,moderate poverty,Grades 3-5,576.08,100.0,f,2012-05-19,2012-08-22,2012-07-18,1
56,0024d5a2652ebf199fc0cfaf7898cfaf,ccd576f82a5578bef3bf276ea819d214,d0f9173ad132f22e60aadbe92b43260f,1.802160e+11,40.251834,-86.590537,Frankfort,IN,rural,Clinton Prairie Sch Corp,...,Supplies,moderate poverty,Grades 9-12,446.53,24.0,f,2013-04-14,2013-05-05,2013-06-13,0
57,0024decf6a1c35c3ebf923f06ac4b580,464b9e5814a42b0d670a3ed05fca0cc0,8542596881b68ac6ad3e09da721a3114,9.029100e+10,41.412549,-73.272388,Sandy Hook,CT,NaN,Newtown Public Schools,...,Other,low poverty,Grades 9-12,1965.62,999.0,f,2013-05-25,2013-07-08,2013-07-24,0
61,00253a9de723379d8b86d5b08b7d46ff,f6e49c926016f27a5e75d4229125b660,096411dd0bd5fa35980e0382f8cb5f3d,2.804080e+11,31.148111,-90.462524,Magnolia,MS,rural,South Pike School District,...,Technology,highest poverty,Grades 6-8,796.14,130.0,f,2012-01-13,2012-03-31,2012-03-13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124906,ffe0b8d9e8461ffdeb00ece519cd3098,9f7ddbdfe0d5bcde848ef4e013a4ebdf,3662aa2e3ca04ead26502d8b57fe613c,NaN,40.714675,-74.223553,Newark,NJ,urban,Newark Public School District,...,Books,highest poverty,Grades PreK-2,559.46,30.0,f,2012-04-12,2012-06-03,2012-06-11,0
124910,ffe324f6ecea065d9ad369b3b5286e94,bc83b5ea7c5493d6689a887e1c4aa3d6,2b34475b3993a719e7374298baa62516,2.601980e+11,42.060890,-83.272537,S Rockwood,MI,rural,Airport Cmty School District,...,Supplies,high poverty,Grades PreK-2,373.93,26.0,f,2013-08-03,2013-11-12,2013-10-02,1
124913,ffe3707f4bcf052304c913ff449e87cf,7e4524d0caece7d72833fae5ff6d98ad,51dea8249261ea7b0e851d9123180fcb,4.900720e+11,41.204418,-111.948425,Ogden,UT,urban,Ogden City School District,...,Books,highest poverty,Grades 6-8,259.33,100.0,f,2013-08-25,2013-09-28,2013-10-24,0
124918,ffe4ac2fba42a458efb581899d92f6bf,d39dad717d565146583340f0d7c46618,bbb1106f76de0a616ef6df3acf6699b3,3.701500e+11,36.102303,-80.265221,Winston Salem,NC,urban,Winston-salem Forsyth Co SD,...,Supplies,high poverty,Grades 9-12,1140.47,200.0,f,2013-07-05,2013-09-27,2013-09-03,1
124919,ffe4b9e23c476521ba63568dc41afc3f,11b55aaee5ef6f15fb078044ace318a9,e3156e8746dcf227fb9aea2686f52419,1.709930e+11,41.862602,-87.659437,Chicago,IL,urban,Chicago Psd-Area 52/53,...,Technology,highest poverty,Grades 9-12,515.78,150.0,t,2013-02-24,2013-03-20,2013-04-25,0
124921,ffe5521afd0bc45ad5c560d6e6d300ab,bb49c0014abf5208dc6e01ba344b1c91,2fd65662f6d63c1db87c3073cbc4abf7,4.808940e+11,30.195080,-97.787300,Austin,TX,urban,Austin Ind School District,...,Books,highest poverty,Grades 6-8,159.62,75.0,f,2013-01-14,2013-02-05,2013-03-15,0
124925,ffe64193ea9a993cb0800a5e0a51554d,a5d43e73d6029d22cf4dbc124f2ca2a8,b1dd17100a150b096d5eabb8d2a2ef4d,3.417280e+11,40.937197,-74.220185,Wayne,NJ,suburban,Wayne Twp Public Schools,...,Supplies,low poverty,Grades PreK-2,214.33,35.0,t,2012-09-02,2012-10-13,2012-11-01,0
124926,ffe73da73761ef44f33317375c3f0bc3,50623db55d56d04c4e883751608d6dc2,06e5ee9db5c7ccc477bc487c803556d8,2.011490e+11,39.114796,-95.615753,Topeka,KS,suburban,Seaman Unified Sch Dist 345,...,Technology,moderate poverty,Grades 3-5,438.40,305.0,f,2012-02-19,2012-06-18,2012-04-19,1
124927,ffe73e3028afc456ae03be5bce3ec6c0,ca441820f91dd6c53dee4eb0277eeb6f,a9e47f6b401e5dbcb1df53b01b61a08d,3.600090e+11,40.854983,-73.903357,Bronx,NY,urban,New York City Dept Of Ed,...,Technology,highest poverty,Grades PreK-2,228.53,22.0,f,2012-01-16,2012-05-03,2012-03-16,1
124930,ffe8f2e374b17177a5e30854e86c5d38,8a3fc26f1412df916bf5ed66ed4aa055,ba25df8032b3fec5b1ac260333087966,6.339301e+10,36.700132,-121.657760,Salinas,CA,urban,Salinas City Elem Sch District,...,Supplies,highest poverty,Grades PreK-2,333.09,30.0,f,2013-12-27,2014-01-08,2014-02-25,0
124931,ffea3f7012ad1cb0076ee9646c4f15d0,3ce6ed25c690943a78332a3b17ae4058,ac4609d713b23f392bbeb8a359b4b36e,2.400480e+11,39.039642,-77.077049,Kensington,MD,suburban,Montgomery Co Public Schools,...,Supplies,high poverty,Grades 3-5,179.92,45.0,f,2012-02-10,2012-03-15,2012-04-10,0
124932,ffea6e56af02a975c6ed0088bffe737e,e9962d868d2a9c0c09e00099edbf0a0e,bcf44ac9d80a92263095ecaabc58e978,1.804770e+11,39.775349,-86.121971,Indianapolis,IN,urban,Indianapolis Public Sch Dist,...,Technology,highest poverty,Grades PreK-2,1004.68,8.0,t,2013-02-16,2013-03-05,2013-04-17,0
124934,ffeb077684f13aecde54fd478c9af82c,c15b56e8ac5d89719fb1c8d81230d57e,64bef34cc05b8c21ab97f06147c025f6,2.929280e+11,38.622822,-90.227539,Saint Louis,MO,urban,St Louis City Public Sch Dist,...,Supplies,highest poverty,Grades 6-8,161.54,100.0,f,2012-12-10,2013-01-20,2013-02-08,0
124944,ffef78dbb652d259080de65924bf2bd5,9c6586329673dce68c001cec27108b95,e08b0570e5a4269f09b06f0e67cac592,5.300300e+11,47.288389,-122.181423,Auburn,WA,urban,Auburn School District 408,...,Supplies,high poverty,Grades 3-5,203.54,30.0,t,2013-07-18,2013-09-05,2013-09-16,0
124946,fff008ba1051b272f9e5218b1c125169,4999b5d89891ff2279c63e8f529f00ea,8803e5495d05529e09083007ac95f58b,4.808090e+11,29.434906,-95.254405,Alvin,TX,suburban,Alvin Ind School District,...,Books,highest poverty,Grades PreK-2,957.15,40.0,f,2012-12-09,2012-12-22,2013-02-07,0
124947,fff025ce2682430f72e02a7823c1c27b,67f274a673108b021563e4fb172371ea,cccabd230f51c6c97850f093cec4ee08,4.900900e+11,36.998209,-110.175732,Monument Vly,UT,rural,San Juan School District,...,Technology,highest poverty,Grades PreK-2,163.68,14.0,f,2013-12-06,2013-12-19,2014-02-04,0
124949,fff17ba5f8954c060395735b111edb96,490d0b530daeed042a70a2acc2be1dc7,06c41c32c946457e8545b81dca1ce5c8,3.701920e+11,36.047957,-79.989043,High Point,NC,urban,Guilford Co School District,...,Supplies,moderate poverty,Grades 6-8,223.61,14.0,f,2012-10-15,2012-12-21,2012-12-14,1
124954,fff2f8b3170013ecf9ee7304c7b0d6d7,d728647826402b266ae8dc0d40914ebd,f3315fbcad5794f7ae6c4f848e488c8c,NaN,40.059349,-82.968307,Columbus,OH,urban,Ohio Department of Education,...,Supplies,high poverty,Grades PreK-2,178.41,20.0,f,2012-10-14,2012-11-20,2012-12-13,0
124955,fff309b22dacd7a37db9cb9ccee1e031,15969f9fd415e45316f5df1e4f6f7114,b25832137d33953fdfbd74616cf1dc94,3.702970e+11,35.107920,-80.886379,Pineville,NC,NaN,Charlotte-mecklenburg Sch Dist,...,Supplies,highest poverty,Grades PreK-2,292.01,19.0,f,2012-09-05,2012-10-12,2012-11-04,0
124956,fff3183fb122c03321ce10b81fda2f55,afdfef895e4033893531858b3b7b93e4,413160e89bb3924066db49f015d12e6a,1.812810e+11,39.770969,-86.276016,Indianapolis,IN,urban,Msd Of Wayne Twp,...,Supplies,highest poverty,Grades 3-5,289.45,700.0,t,2012-10-14,2012-11-20,2012-12-13,0
124957,fff427a481a6ae0da7c79ee3a568a25d,2f4d0c10a6c3b90c1cdf700c1d1e8783,c7ee71e78a89b4537735625abe3df9e2,6.227101e+10,34.039135,-118.211122,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Books,highest poverty,Grades 9-12,859.99,60.0,t,2012-01-28,2012-03-05,2012-03-28,0
124958,fff43d73c89c9c0fa3455f71f36846af,c3892f47501ebe7560bb47f044cb6c1a,ab38fb6eeb133c593bca3bd17060dfff,6.227101e+10,34.029933,-118.435195,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Technology,highest poverty,Grades 9-12,560.99,120.0,t,2012-10-02,2012-10-25,2012-12-01,0
124960,fff50452c8b57fabd715d5547997d659,a3b0edce360c46d821f3f949c37e0760,47266028aed99d00ce97ee299c89f0bb,6.227101e+10,34.200943,-118.530552,Reseda,CA,urban,Los Angeles Unif Sch Dist,...,Technology,highest poverty,Grades 9-12,757.47,40.0,t,2012-08-28,2012-09-05,2012-10-27,0
124961,fff5d11155a3d8e8c56a41fb2e79912c,442cff1ac9ba42e5dfcbbe3d924f4c07,f2e2d501f9ee2a961d1485e02019d148,5.509600e+11,43.125865,-87.955918,Milwaukee,WI,urban,Milwaukee Public Schools,...,Supplies,highest poverty,Grades PreK-2,191.18,18.0,t,2012-08-12,2012-09-06,2012-10-11,0
124966,fffb88aa251449f1ba0b31d5552426b0,68a125f470e30903664d0e70e406d2b7,12629360afe5266b7e171f3cf57af5ec,6.344101e+10,37.725403,-122.430496,San Francisco,CA,urban,San Francisco Unified Sch Dist,...,Supplies,highest poverty,Grades 3-5,1018.24,510.0,f,2012-02-17,2012-04-12,2012-04-17,0
124967,fffbc23d5c2ece64168af350ab9f6cad,4f23071c37c4aa0a96ea4ff336138c61,df83213f7800d05086a121ab1730b545,6.306601e+10,33.885330,-117.761117,Yorba Linda,CA,suburban,Placentia Yorba Linda Usd,...,Technology,low poverty,Grades 6-8,1003.81,738.0,f,2013-10-13,2014-01-16,2013-12-12,1
124968,fffc3632fd681fde1113eae31ca027d4,f52c695357488ae6e499cae04eb28802,3bca24ea3f5077ad0d0b86d979b3a6cf,4.807710e+11,29.909552,-95.360931,Houston,TX,suburban,Aldine Ind School District,...,Books,highest poverty,Grades PreK-2,331.56,24.0,f,2012-10-31,2013-01-05,2012-12-30,1
124970,fffcab52aff6aec5843afafe919d4a06,64ec2ab31709511cce9d4b344eed4ef0,ce225b42cd7d04da6fc8d47815dce5fc,5.100270e+11,38.838849,-77.097328,Arlington,VA,urban,Arlington Public Schools,...,Books,high poverty,Grades PreK-2,717.96,24.0,f,2013-02-10,2013-06-10,2013-04-11,1
124973,fffe0bb8af3b9cd93046b49653cc923a,820b80005bdffb74fe85e4deb11c5a07,bb477994115ad6275e95623e927c040e,3.416290e+11,40.231834,-74.777481,Trenton,NJ,urban,Trenton School District,...,Books,highest poverty,Grades 3-5,184.05,20.0,f,2012-09-02,2012-10-17,2012-11-01,0
124975,fffeebf4827d745aa36b17c2d38d1966,96c1a33b4f2b832595c3c6a01bc24c05,7bb6b1924a7bd181ab5568b062260966,6.346201e+10,38.654224,-121.308122,Fair Oaks,CA,suburban,San Juan Unified School Dist,...,Other,highest poverty,Grades 6-8,938.00,11.0,f,2012-12-01,2013-01-17,2013-01-30,0

In [148]:
missing_secsubj.describe()[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
count,40556.000000,40529.000000,40556.000000
mean,624.862056,102.709073,0.280748
std,1346.241363,178.832237,0.449370
min,99.080000,1.000000,0.000000
25%,324.040000,23.000000,0.000000
50%,488.420000,35.000000,0.000000
75%,699.767500,115.000000,1.000000
max,164382.840000,12143.000000,1.000000

In [151]:
df.groupby('secondary_focus_subject').agg('mean')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
secondary_focus_subject,,,
Applied Sciences,853.305130,113.315680,0.267160
Character Education,604.760244,117.495507,0.281985
Civics & Government,736.029689,112.518807,0.280156
College & Career Prep,907.228015,154.530351,0.337946
Community Service,706.436901,226.055133,0.266160
ESL,569.902484,67.329286,0.311409
Early Development,552.988336,41.138410,0.287858
Economics,770.919123,81.010989,0.307018
Environmental Science,703.835632,108.422563,0.257925
Extracurricular,728.061827,166.923077,0.313702
Foreign Languages,853.673046,89.466307,0.309973
Gym & Fitness,703.282560,239.388594,0.283820
Health & Life Science,748.838556,110.557203,0.243313
Health & Wellness,677.402705,218.080278,0.278129
History & Geography,668.936110,96.821392,0.285127
Literacy,623.579417,70.606337,0.296952
Literature & Writing,608.088621,70.957112,0.305917
Mathematics,728.367124,50.940518,0.314873
Music,736.779079,155.273050,0.221435
Nutrition,613.260741,161.922222,0.203704
Other,711.282695,112.762837,0.352038
Parent Involvement,567.040220,114.603206,0.284000
Performing Arts,736.446985,221.488925,0.226825
Social Sciences,621.089655,85.182163,0.269347
Special Needs,606.687874,77.634516,0.284263
Sports,767.446567,321.094527,0.323383
Visual Arts,666.274857,118.761181,0.260733

In [153]:
df.groupby('secondary_focus_subject').agg('median')[['total_price_including_optional_support', 'students_reached', 'notfullyfundedin60days']]

,total_price_including_optional_support,students_reached,notfullyfundedin60days
secondary_focus_subject,,,
Applied Sciences,574.800,60.0,0
Character Education,500.320,31.0,0
Civics & Government,517.680,85.0,0
College & Career Prep,586.810,85.0,0
Community Service,544.865,100.0,0
ESL,489.215,30.0,0
Early Development,480.240,23.0,0
Economics,590.610,30.0,0
Environmental Science,529.870,55.0,0
Extracurricular,533.190,60.0,0
Foreign Languages,534.440,36.0,0
Gym & Fitness,517.465,100.0,0
Health & Life Science,540.600,50.0,0
Health & Wellness,526.670,80.0,0
History & Geography,506.615,50.0,0
Literacy,511.910,29.0,0
Literature & Writing,501.950,30.0,0
Mathematics,565.870,25.0,0
Music,512.880,60.0,0
Nutrition,517.420,50.0,0
Other,519.040,30.0,0
Parent Involvement,487.380,30.0,0
Performing Arts,516.730,104.5,0
Social Sciences,495.335,37.0,0
Special Needs,497.450,28.0,0
Sports,523.355,250.0,0
Visual Arts,512.480,36.0,0